.wojo.breadcrumb {
        vertical-align: middle;
        font-family: "Open Sans", arial, sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 1em;
        background-color: #EFF2F8;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        border-top: 1px solid #F5F7FB;
        border-bottom: 1px solid #C8CFDC;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05)
    }

.wojo.breadcrumb:first-child {
    margin-top: 0;
    white-space: nowrap
}

.wojo.breadcrumb:last-child {
    margin-bottom: 0
}

.wojo.breadcrumb .divider {
    display: inline-block;
    opacity: 0.5;
    margin: 0 .25em;
    color: rgba(0, 0, 0, 0.3)
}

.wojo.breadcrumb .divider:before {
    content: "/";
    font-size: .85em;
    font-weight: 300
}

.wojo.breadcrumb a.section {
    cursor: pointer
}

.wojo.breadcrumb .section {
    display: inline-block;
    margin: 0;
    padding: 0
}

.wojo.breadcrumb.segment {
    display: inline-block;
    padding: .5em 1em
}

.wojo.breadcrumb .active.section {
    font-weight: 400
}

.wojo.small.breadcrumb {
    font-size: .75em
}

.wojo.large.breadcrumb {
    font-size: 1.1em
}

.wojo.huge.breadcrumb {
    font-size: 1.3em
}
