/* == Date Picker  == */
.picker {
  font-size: 1rem;
  text-align: left;
  line-height: 1.2;
  position: absolute;
  z-index: 10000;
  width: 100%
}
.picker__holder {
  width: 100%;
  position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-height: 0;
  -ms-filter: alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: all .15s ease-out, max-height 0 .15s;
  -moz-transition: all .15s ease-out, max-height 0 .15s;
  transition: all .15s ease-out, max-height 0 .15s;
  background-color: #8D98B3;
  color: #FEFEFE
}
.picker--opened .picker__holder {
  max-height: 25em;
  -ms-filter: alpha(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: all .15s ease-out, max-height 0;
  -moz-transition: all .15s ease-out, max-height 0;
  transition: all .15s ease-out, max-height 0;
  border: 1px solid #8591AE;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}
.picker__box {
  padding: 0 1em
}
.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em;
  clear: both
}
.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em
}
.picker__year {
  color: #fff;
  font-size: .8em;
  font-style: italic
}
.picker__select--month,
.picker__select--year {
  font-size: .8em!important;
  float: left!important;
  display: inline-block;
  margin: .2em 0 0;
  padding: .1em!important
}
.picker__select--month {
  width: 35%
}
.picker__nav--prev,
.picker__nav--next {
  width: 1.2em;
  height: 1.2em;
  font-size: 1.2em;
  display: block;
  font-family: Icons;
  margin-right: auto;
  margin-left: auto
}
.picker__nav--prev {
  float: left
}
.picker__nav--next {
  float: right
}
.picker__nav--prev:before {
  content: "\f053"
}
.picker__nav--next:before {
  content: "\f054"
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: #6383aa
}
.picker__nav--disabled, .picker__nav--disabled:hover, .picker__nav--disabled:before, .picker__nav--disabled:before:hover {
cursor:default;
background:0;
border-right-color:#f0f0f0;
border-left-color:#f0f0f0
}
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em
}
.picker__table td {
  margin: 0;
  padding: 0
}
.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  font-weight: 600
}
.picker__day {
  font-weight: 400;
  border: 1px solid transparent;
  padding: .3125em 0
}
.picker__day--today {
  color: #6383aa;
  position: relative
}
.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: .5em solid #fff;
  border-left: .5em solid transparent
}
.picker__day--highlighted {
  background-color: #6383aa;
  color: #fff
}
.picker__day--disabled:before {
  border-top-color: #aaa
}
.picker__day--outfocus {
  color: rgba(0, ​ 0, ​ 0, ​ 0.1);
  -ms-filter: alpha(Opacity=35);
  filter: alpha(opacity=35);
  opacity: .35
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: #fff;
  background: #15A5FB
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background: #6383aa;
  color: #fff
}
.picker__day--disabled,
.picker__day--disabled:hover {
  cursor: default;
  color: #fff;
  border-color: #364760;
  background-color: #364760;
}
.picker__footer {
  text-align: center
}
.picker__button--today,
.picker__button--clear {
  border: 0;
  font-size: .95em;
  font-weight: 600;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
  padding: .66em 0;
  background-color: #364760;
  color: #fff;
}
.picker__button--today:hover,
.picker__button--clear:hover {
  cursor: pointer;
  color: #fff;
  background: #15A5FB;
  border-bottom-color: #15A5FB
}
.picker__button--today:focus,
.picker__button--clear:focus {
  background: #6383aa;
  outline: 0;
  border-color: #6383aa
}
.picker__button--today:before,
.picker__button--clear:before {
  position: relative;
  display: inline-block;
  height: 0
}
.picker__button--today:before {
  content: " ";
  margin-right: .45em;
  top: -.05em;
  width: 0;
  border-top: .66em solid #6383aa;
  border-left: .66em solid transparent
}
.picker__button--clear:before {
  font-family: icons;
  content: "\f00d";
  margin-right: .35em;
  font-size: 1em;
  color: #FA5C4E
}
.picker__input.picker__input--active,
.picker__select--month:focus,
.picker__select--year:focus,
.picker__day--selected,
.picker__day--selected:hover {
  border-color: #6383aa
}
@media min-height265em {
.picker__table {
  margin-bottom: .75em
}
.picker__weekday {
  padding-bottom: .5em
}
}
/* == Time Picker  == */
.picker__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.picker__list-item {
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.1);
  position: relative;
  background: #8d98b3;
  padding: .75em 1.25em;
}
@media (min-height: 46.75em) {
.picker__list-item {
  padding: .5em 1em;
}
}
.picker__list-item:hover {
  cursor: pointer;
  background: #6383aa;
  color: #fff;
  z-index: 10;
}
.picker__list-item--selected,
.picker__list-item--selected:hover {
  border-color: #6383aa;
  z-index: 10;
}
.picker__list-item--highlighted {
  background: #F0B174;
  color: #ffffff;
}
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  background: #EEA45D;
  color: #ffffff;
}
.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
  border-color: #dddddd;
  z-index: auto;
}
.picker--time .picker__button--clear {
  display: block;
  width: 80%;
  font-family: inherit;
  background: none;
  line-height: 1;
  border: 0;
  font-weight: 600;
  text-align: center;
  margin: 1em auto;
  padding: 1em 1.25em
}
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
  background: #FA5C4E;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}
.picker--time .picker__button--clear:before {
  top: 0;
  font-size: 1.25em;
}
.picker--time .picker__button--clear:hover:before,
.picker--time .picker__button--clear:focus:before {
  color: #ffffff;
}
.picker--time .picker__frame {
  min-width: 260px;
  max-width: 100%;
}
.picker--time .picker__box {
  font-size: 1em;
  padding: .25em;
  background-color: #8d98b3;
}
.picker--time .picker__holder {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
/* == jQuery Multiple Dates Picker == */
.ui-widget .ui-widget {
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
}
.ui-widget-content {
  background-color: #F1F2EA;
  border: 2px solid #15A5FB;
  border-radius: 0.3125em;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
}
.ui-widget-content a {
  color: #444444;
}
.ui-widget-header {
  border: 2px solid #15A5FB;
  background: rgba(0,0,0,0.05);
  font-family: 'Open Sans Condensed';
  font-weight: 600;
}
.ui-widget-header a {
}
.ui-datepicker {
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 100%;
  padding: .2em .2em 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .5em 0;
  border-radius: 0.3125em;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  width: 2em;
  line-height: 2em;
  display: block;
  font-family: "Icons";
  text-align: center;
}
.ui-datepicker .ui-datepicker-prev {
  left: 0;
}
.ui-datepicker .ui-datepicker-next {
  right: 0;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\f053"
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\f054";
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: normal;
  border: 0;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
}
.ui-datepicker td {
  border: 0;
  padding: .25em;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .25em;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.ui-datepicker td.ui-state-highlight,
.ui-datepicker td.ui-datepicker-today {
  border: 1px solid #15A5FB;
  background: rgba(0,0,0,0.05);
}
.ui-datepicker td.ui-state-highlight {
  border: 1px solid #fff;
  background: #F0B174;
  color: #fff
}
.ui-datepicker td.ui-state-highlight a {
  color: #fff
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0em;
}
/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}