.wojo.form {
	position: relative;
	max-width: 100%
}

.wojo.form:first-child {}

.wojo.form:last-child {}

.wojo p.note,
.wojo p.error,
.wojo p.success,
.wojo p.info {
	font-size: .85em;
	margin-top: .85em;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: .5em;
	color: rgba(0, 0, 0, 0.4)
}

.wojo p.error {
	color: #D87A80
}

.wojo p.success {
	color: #2EC7C9
}

.wojo p.info {
	color: #5AB1EF
}

.wojo.form .field {
	clear: both;
	margin: 0 0 1em;
	position: relative
}

.wojo.form .field:after {
	content: '';
	display: table;
	clear: both
}

.wojo.form .field label.input,
.wojo.form .field label.textarea {
	position: relative;
	margin: 0
}

.wojo.form .field label {
	margin: 0 0 .9em;
	display: block;
	font-size: 1rem;
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 400;
	white-space: nowrap
}

.wojo.form .field label.radio,
.wojo.form .field label.checkbox {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 400;
	margin: 0
}

.wojo.form textarea,
.wojo.form select,
.wojo.form input[type=text],
.wojo.form input[type=email],
.wojo.form input[type=date],
.wojo.form input[type=password],
.wojo.form input[type=number],
.wojo.form input[type=tel],
.wojo.form .wojo.input {
	width: 100%;
	color: #333333;
}

.wojo.form textarea,
.wojo.form input[type=text],
.wojo.form input[type=email],
.wojo.form input[type=date],
.wojo.form input[type=password],
.wojo.form input[type=number],
.wojo.form input[type=tel],
.wojo.form .fileinput > input {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: .85em 1.2em;
	font-size: 1em;
	background-color: #EFF2F8;
	border: 1px solid #DBE0EB;
	outline: none;
	border-radius: 0;
	-webkit-transition: background-color .3s ease-out, 0 .2s ease, border-color .2s ease;
	transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.5;
}

.wojo.form .fileinput {
	display: table;
	width: 100%;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1em
}

.wojo.form .fileinput > a {
	cursor: pointer;
	text-align: right;
	display: table-cell;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	white-space: nowrap;
	background-color: #EFF2F8;
	border: 1px solid #DBE0EB;
	border-left: 0;
	padding: .75em 1.2em;
	border-radius: 0;
	vertical-align: middle;
	cursor: pointer;
}

.wojo.form .fileinput > a label {
	margin: 0;
	cursor: pointer
}

.wojo.form .fileinput > input {
	display: table-cell;
	overflow: hidden;
	white-space: nowrap;
	border-right: 0;
	outline: none;
	border-radius: 0;
	width: 100%;
	vertical-align: middle;
	opacity: 1!important;
}

.wojo.form input[type=text].custom {
	border-radius: 0;
	margin-bottom: -2px;
}

.wojo.textarea,
.wojo.form textarea {
	line-height: 1.33;
	min-height: 8em;
	font-family: 'Open Sans';
	font-weight: 400;
	height: 12em;
	max-height: 24em;
	resize: vertical
}

.wojo.form textarea[name="phrase"] {
	min-height: 2.5em;
	height: 4.5em;
	line-height: 1.5
}

.wojo.form textarea,
.wojo.form input[type="checkbox"] {
	vertical-align: top
}

.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #dbe0eb;
	border-top: 0;
	background: #eff2f8;
}

.chosen-container.chosen-with-drop .chosen-drop {
	left: 0
}

.chosen-container a {
	cursor: pointer
}

.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: .80em 1.2em;
	font-size: 1rem;
	border-radius: 0;
	background: #eff2f8;
	border: 1px solid #dbe0eb;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	white-space: nowrap;
	line-height: 1.5;
}

.chosen-container-single .chosen-default {
	color: inherit
}

.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px
}

.chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 24px;
	height: 100%
}

.chosen-container-single .chosen-single div b:before {
	display: block;
	font-family: Icons;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 2.6em;
	content: "\f0d7";
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.15)
}

.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap
}

.chosen-container-single .chosen-search input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #cbcbcb;
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0px
}

.chosen-container-single .chosen-search:before {
	position: absolute;
	display: inline-block;
	font-family: Icons;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	content: "\f002";
	font-size: 14px;
	color: #a7a7a7;
	right: 10px;
	top: 6px
}

.chosen-container-single .chosen-drop {
	margin-top: -1px;
	border-radius: 0;
	background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px
}

.chosen-container .chosen-results {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
	-webkit-overflow-scrolling: touch
}

.chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 5px 6px;
	list-style: none;
	line-height: 15px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05)
}

.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer
}

.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default
}

.chosen-container .chosen-results li.highlighted {
	background-color: #15a5fb;
	color: #fff
}

.chosen-container .chosen-results li.no-results {
	display: list-item;
	background: #f4f4f4
}

.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: 700;
	cursor: default
}

.chosen-container .chosen-results li.group-option {
	padding-left: 15px
}

.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline
}

.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 1;
	padding: 0.42em 1.2em;
	font-size: .89rem;
	cursor: text;
	border-radius: .3125em;
	background: #F1F2EA;
	border: 2px solid rgba(198, 198, 191, 1);
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	white-space: nowrap;
	line-height: 1
}

.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none
}

.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 1px 0;
	padding: 5px;
	height: 30px;
	outline: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	color: #666;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0
}

.chosen-container-multi .chosen-choices li.search-field .default {
	color: #999
}

.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px;
	padding: 0 25px 0 5px;
	line-height: 25px;
	cursor: default;
	background-color: #E9E9E1;
	border-radius: .2125em;
	font-size: .9em;
	font-weight: 900;
	text-shadow: 0 1px 0 #fff
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
	font-family: icons;
	content: "\f00d";
	position: absolute;
	top: 0;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	line-height: 24px
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	color: #666
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
	background-position: -42px -10px
}

.chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0
}

.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default
}

.chosen-container-active.chosen-with-drop .chosen-single {
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0
}

.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 2px
}

.chosen-container-active .chosen-choices {
	border: 1px solid #DBE0EB;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
	color: #111
}

.chosen-disabled {
	opacity: .5;
	cursor: default
}

.chosen-disabled .chosen-single {
	cursor: default
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default
}

.radio,
.checkbox {
	position: relative;
	display: block;
	margin-bottom: 4px;
	padding-left: 25px;
	line-height: 30px;
	cursor: pointer
}

.radio:last-child,
.checkbox:last-child {
	margin-bottom: 0
}

.radio input,
.checkbox input {
	position: absolute;
	left: -9999px
}

.radio i,
.checkbox i {
	font-family: Icons;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	outline: none;
	font-style: normal;
	font-weight: 400
}

.radio input + i:after,
.checkbox input + i:after {
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	color: #DBE0EB
}

.radio input + i:after {
	content: '\f10c'
}

.checkbox input + i:after {
	content: '\f096'
}

.checkbox input:checked + i:after {
	content: '\f046';
	color: #15A5FB
}

.radio input:checked + i:after {
	content: '\f192';
	color: #15A5FB
}

.wojo [class^=icon-] {
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin: 0
}

.wojo .icon-append,
.wojo .icon-prepend,
.wojo .captcha-append {
	position: absolute;
	top: 0;
	line-height: 3.5em;
	text-align: center;
	color: rgba(0, 0, 0, 0.15)
}

.wojo .icon-append,
.wojo .captcha-append {
	right: 1em
}

.wojo .icon-prepend {
	left: 1em
}

.wojo .captcha-append {
	top: .5em
}

.wojo .input .icon-append + input,
.wojo .textarea .icon-append + textarea {
	padding-right: 2em
}

.wojo .input .icon-prepend + input,
.wojo .textarea .icon-prepend + textarea,
.wojo .input .icon-prepend + .icon-append + input,
.wojo .textarea .icon-prepend + .icon-append + textarea {
	padding-left: 2.5em;
	padding-right: 2.5em
}

.wojo.form .divider {
	clear: both;
	margin: 1em 0;
	border-top: 1px solid #E8ECF2;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6)
}

.wojo.form .fitted.divider {
	margin-left: -1em;
	margin-right: -1em
}

.wojo.form input[type="text"]:focus,
.wojo.form input[type="email"]:focus,
.wojo.form input[type="date"]:focus,
.wojo.form input[type="password"]:focus,
.wojo.form input[type="number"]:focus,
.wojo.form input[type="url"]:focus,
.wojo.form input[type="tel"]:focus,
.wojo.form textarea:focus {
	color: #717D9D;
	border-color: #ACB4C8;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-appearance: none;
	-webkit-box-shadow: .3em 0 0 0 #ACB4C8 inset;
	box-shadow: .3em 0 0 0 #ACB4C8 inset
}

.wojo.form.warning .warning.message {
	display: block
}

.wojo.form.error .error.message {
	display: block
}

.wojo.form .fields.error .field label,
.wojo.form .field.error label,
.wojo.form .fields.error .field .input,
.wojo.form .field.error .input {
	color: #D95C5C
}

.wojo.form .fields.error .field .corner.label,
.wojo.form .field.error .corner.label {
	border-color: #D95C5C;
	color: #FFF
}

.wojo.form .fields.error .field textarea,
.wojo.form .fields.error .field input[type="text"],
.wojo.form .fields.error .field input[type="email"],
.wojo.form .fields.error .field input[type="date"],
.wojo.form .fields.error .field input[type="password"],
.wojo.form .fields.error .field input[type="number"],
.wojo.form .fields.error .field input[type="url"],
.wojo.form .fields.error .field input[type="tel"],
.wojo.form .field.error textarea,
.wojo.form .field.error input[type="text"],
.wojo.form .field.error input[type="email"],
.wojo.form .field.error input[type="date"],
.wojo.form .field.error input[type="password"],
.wojo.form .field.error input[type="number"],
.wojo.form .field.error input[type="url"],
.wojo.form .field.error input[type="tel"] {
	background-color: #FFFAFA;
	border-color: #E7BEBE;
	border-left: none;
	color: #D95C5C;
	padding-left: 1.2em;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-box-shadow: .3em 0 0 0 #D95C5C inset;
	box-shadow: .3em 0 0 0 #D95C5C inset
}

.wojo.form .field.error textarea:focus,
.wojo.form .field.error input[type="text"]:focus,
.wojo.form .field.error input[type="email"]:focus,
.wojo.form .field.error input[type="date"]:focus,
.wojo.form .field.error input[type="password"]:focus,
.wojo.form .field.error input[type="number"]:focus,
.wojo.form .field.error input[type="url"]:focus,
.wojo.form .field.error input[type="tel"]:focus {
	border-color: #ff5050;
	color: #ff5050;
	-webkit-appearance: none;
	-webkit-box-shadow: .3em 0 0 0 #FF5050 inset;
	box-shadow: .3em 0 0 0 #FF5050 inset
}

.wojo.form textarea[name="phrase"]:focus,
.wojo.form textarea[name="phrase"].active {
	background-color: #F5F5F5;
	border-color: #D0D0D0;
	border-radius: .3125em;
	-webkit-box-shadow: none;
	box-shadow: none
}

.wojo.form textarea[name="phrase"].active {
	background-color: #dceee5;
	border-color: #a9d5be
}

.wojo.form::-webkit-input-placeholder {
	color: #AAA
}

.wojo.form::-moz-placeholder {
	color: #AAA
}

.wojo.form:focus::-webkit-input-placeholder {
	color: #999
}

.wojo.form:focus::-moz-placeholder {
	color: #999
}

.wojo.form .error::-webkit-input-placeholder {
	color: rgba(255, 80, 80, 0.4)
}

.wojo.form .error::-moz-placeholder {
	color: rgba(255, 80, 80, 0.4)
}

.wojo.form .error:focus::-webkit-input-placeholder {
	color: rgba(255, 80, 80, 0.7)
}

.wojo.form .error:focus::-moz-placeholder {
	color: rgba(255, 80, 80, 0.7)
}

.wojo.form .field:disabled,
.wojo.form .field.disabled {
	opacity: 0.5
}

.wojo.form .field.disabled label {
	opacity: 0.5
}

.wojo.form .field.disabled:disabled {
	opacity: 1
}

.wojo.form.loading {
	position: relative
}

.wojo.form.loading:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
	visibility: visible;
	z-index: 5000
}

.wojo.form.fluid {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.wojo.form .grouped.fields {
	margin: 0 0 1em
}

.wojo.form .grouped.fields .field {
	display: block;
	float: none;
	margin: .5em 0;
	padding: 0
}

.wojo.form .fields {
	clear: both
}

.wojo.form .fields:after {
	content: ' ';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.wojo.form .fields > .field.empty {
	margin: 0;
	font-size: .1em
}

.wojo.form .fields > .field {
	clear: none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.wojo.form .fields > .field:first-child {
	border-left: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.wojo.form .two.fields > .fields,
.wojo.form .two.fields > .field {
	width: 50%;
	padding-left: 1%;
	padding-right: 1%
}

.wojo.form .three.fields > .fields,
.wojo.form .three.fields > .field {
	width: 33.333%;
	padding-left: 1%;
	padding-right: 1%
}

.wojo.form .four.fields > .fields,
.wojo.form .four.fields > .field {
	width: 25%;
	padding-left: 1%;
	padding-right: 1%
}

.wojo.form .five.fields > .fields,
.wojo.form .five.fields > .field {
	width: 20%;
	padding-left: 1%;
	padding-right: 1%
}

.wojo.form .fields .field:first-child {
	padding-left: 0
}

.wojo.form .fields .field:last-child {
	padding-right: 0
}

.wojo.form .inline-group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1
}

.wojo.form .inline-group {
	margin-bottom: 1.2em
}

.wojo.form .inline-group label.radio,
.wojo.form .inline-group label.checkbox,
.wojo.form .inline-group label.input {
	float: left;
	margin-right: 20px
}

.wojo.form .inline.fields .field {
	min-height: 1.3em;
	margin-right: .5em
}

.wojo.form .inline.fields .field > label,
.wojo.form .inline.fields .field > p,
.wojo.form .inline.fields .field > input,
.wojo.form .inline.field > label,
.wojo.form .inline.field > p,
.wojo.form .inline.field > input {
	display: inline-block;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle
}

.wojo.form .inline.fields .field > input,
.wojo.form .inline.field > input {
	font-size: .875em
}

.wojo.form .inline.fields .field >:first-child,
.wojo.form .inline.field >:first-child {
	margin: 0 .5em 0 0
}

.wojo.form .inline.fields .field >:only-child,
.wojo.form .inline.field >:only-child {
	margin: 0
}

.wojo.small.form {}

.wojo.small.form textarea,
.wojo.small.form .chosen-container,
.wojo.small.form input[type="text"],
.wojo.small.form input[type="email"],
.wojo.small.form input[type="date"],
.wojo.small.form input[type="password"],
.wojo.small.form input[type="number"],
.wojo.small.form input[type="url"],
.wojo.small.form input[type="tel"],
.wojo.small.form label {
	font-size: .875em
}

.wojo.small.form .chosen-container-single .chosen-single {
	font-size: .85rem
}

.wojo.large.form {
	font-size: 1.125em
}

.wojo.form.fitted {
	padding: 0
}

.wojo.phrase {
	background-color: #eff2f8;
	padding: .5em;
	height: 4em;
	overflow-y: auto;
	vertical-align: middle;
	border: 1px solid #d8dde9;
	border-radius: 0;
	font-size: .95rem
}

.wojo.phrase.active {
	background-color: #FFFFCC
}

.colpick {
	position: absolute;
	width: 346px;
	height: 170px;
	overflow: hidden;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	background: #ebebeb;
	border: 1px solid #bbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.colpick_color {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 156px;
	height: 156px;
	overflow: hidden;
	outline: 1px solid #aaa;
	cursor: crosshair
}

.colpick_color_overlay1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 156px;
	height: 156px;
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ffffff', endColorstr='#00ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')";
	background: linear-gradient(toright, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
}

.colpick_color_overlay2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 156px;
	height: 156px;
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00000000', endColorstr='#000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')";
	background: linear-gradient(tobottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}

.colpick_selector_outer {
	background: none;
	position: absolute;
	width: 11px;
	height: 11px;
	border: 1px solid #000;
	border-radius: 50%;
	margin: -6px 0 0 -6px
}

.colpick_selector_inner {
	position: absolute;
	width: 9px;
	height: 9px;
	border: 1px solid #FFF;
	border-radius: 50%
}

.colpick_hue {
	position: absolute;
	top: 6px;
	left: 175px;
	width: 19px;
	height: 156px;
	border: 1px solid #aaa;
	cursor: n-resize
}

.colpick_hue_arrs {
	position: absolute;
	left: -8px;
	width: 35px;
	height: 7px;
	margin: -7px 0 0
}

.colpick_hue_larr {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid #858585
}

.colpick_hue_rarr {
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 7px solid #858585
}

.colpick_new_color {
	position: absolute;
	left: 207px;
	top: 6px;
	width: 60px;
	height: 27px;
	background: red;
	border: 1px solid #8f8f8f
}

.colpick_current_color {
	position: absolute;
	left: 277px;
	top: 6px;
	width: 60px;
	height: 27px;
	background: red;
	border: 1px solid #8f8f8f
}

.colpick_field,
.colpick_hex_field {
	position: absolute;
	height: 20px;
	width: 60px;
	overflow: hidden;
	background: #f3f3f3;
	color: #b8b8b8;
	font-size: 12px;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.colpick_rgb_r {
	top: 40px;
	left: 207px
}

.colpick_rgb_g {
	top: 67px;
	left: 207px
}

.colpick_rgb_b {
	top: 94px;
	left: 207px
}

.colpick_hsb_h {
	top: 40px;
	left: 277px
}

.colpick_hsb_s {
	top: 67px;
	left: 277px
}

.colpick_hsb_b {
	top: 94px;
	left: 277px
}

.colpick_hex_field {
	width: 68px;
	left: 207px;
	top: 121px
}

.colpick_focus {
	border-color: #999
}

.colpick_field_letter {
	position: absolute;
	width: 12px;
	height: 20px;
	line-height: 20px;
	padding-left: 4px;
	background: #efefef;
	border-right: 1px solid #bdbdbd;
	font-weight: 700;
	color: #777
}

.colpick_field input,
.colpick_hex_field input {
	position: absolute;
	right: 11px;
	height: 20px;
	line-height: 20px;
	background: transparent;
	border: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
	text-align: right;
	outline: none;
	margin: 0;
	padding: 0
}

.colpick_hex_field input {
	right: 4px
}

.colpick_field_arrs {
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 21px;
	cursor: n-resize
}

.colpick_field_uarr {
	position: absolute;
	top: 5px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #959595
}

.colpick_field_darr {
	position: absolute;
	bottom: 5px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #959595
}

.colpick_submit {
	position: absolute;
	left: 207px;
	top: 149px;
	width: 130px;
	height: 22px;
	line-height: 22px;
	background: #efefef;
	text-align: center;
	color: #555;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.colpick_submit:hover {
	background: #f3f3f3;
	cursor: pointer;
	border-color: #999
}

.colpick_full_ns .colpick_new_color {
	width: 130px;
	height: 25px
}

.colpick_rgbhex {
	width: 282px
}

.colpick_rgbhex .colpick_field,
.colpick_rgbhex .colpick_submit {
	width: 68px
}

.colpick_rgbhex .colpick_new_color {
	width: 34px;
	border-right: none
}

.colpick_rgbhex .colpick_current_color {
	width: 34px;
	left: 240px;
	border-left: none
}

.colpick_rgbhex_ns .colpick_new_color {
	width: 68px;
	border: 1px solid #8f8f8f
}

.colpick_hex {
	width: 206px;
	height: 201px
}

.colpick_hex .colpick_hex_field {
	width: 72px;
	height: 25px;
	top: 168px;
	left: 80px
}

.colpick_hex .colpick_hex_field div,
.colpick_hex .colpick_hex_field input {
	height: 25px;
	line-height: 25px
}

.colpick_hex .colpick_new_color {
	left: 9px;
	top: 168px;
	width: 30px;
	border-right: none
}

.colpick_hex .colpick_current_color {
	left: 39px;
	top: 168px;
	width: 30px;
	border-left: none
}

.colpick_hex .colpick_submit {
	left: 164px;
	top: 168px;
	width: 30px;
	height: 25px;
	line-height: 25px
}

.colpick_hex_ns .colpick_hex_field {
	width: 80px
}

.colpick_hex_ns .colpick_new_color {
	width: 60px;
	border: 1px solid #8f8f8f
}

.colpick_dark {
	background: #161616;
	border-color: #2a2a2a
}

.colpick_dark .colpick_color {
	outline-color: #333
}

.colpick_dark .colpick_hue {
	border-color: #555
}

.colpick_dark .colpick_field,
.colpick_dark .colpick_hex_field {
	background: #101010;
	border-color: #2d2d2d
}

.colpick_dark .colpick_field_letter {
	background: #131313;
	color: #696969;
	border-color: #2d2d2d
}

.colpick_dark .colpick_field input,
.colpick_dark .colpick_hex_field input {
	color: #7a7a7a
}

.colpick_dark .colpick_field_uarr {
	border-bottom-color: #696969
}

.colpick_dark .colpick_field_darr {
	border-top-color: #696969
}

.colpick_dark .colpick_focus {
	border-color: #444
}

.colpick_dark .colpick_submit {
	background: #131313;
	color: #7a7a7a;
	border-color: #2d2d2d
}

.colpick_dark .colpick_submit:hover {
	background-color: #101010;
	border-color: #444
}

.cp-container {
	width: auto;
	position: relative;
	box-sizing: border-box
}

.cp-container .cp-transparency,
.cp-container .cp-swatches li {
	background: url(data:image/gif;base64,R0lGODlhBgAGAIABAMPDw////yH5BAEKAAEALAAAAAAGAAYAAAIKhIMGGMrs0pGgAAA7) repeat
}

.cp-container .cp-slider,
.cp-container .cp-preview {
	width: auto;
	height: 26px;
	border: 1px solid #dadada;
	position: relative;
	margin: 0 4px 5pt
}

.cp-container .cp-slider {
	cursor: ew-resize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.cp-container .cp-preview {
	height: 39px
}

.cp-container .cp-slider span,
.cp-container .cp-preview input {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: sans-serif;
	line-height: 26px;
	font-size: 14px
}

.cp-container .cp-preview input {
	line-height: 39px;
	outline: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	background: none;
	padding: 0
}

.cp-container .cp-marker {
	position: absolute;
	display: block;
	width: 11px;
	height: 10px;
	margin-left: -5px;
	top: -2px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAMAAABVLlSxAAAAtFBMVEUAAAB1dXVsbGxwcHBqampoaGj+/v7r6+vw8PBmZmb6+vp/f39kZGTh4eGxsbHT09NlZWXX19dgYGBfX1/W1tb7+/vx8fHZ2dna2tqBgYFnZ2fg4ODe3t7j4+Pi4uL39/eampro6Ojl5eXy8vLt7e3p6emgoKCmpqatra1ra2v19fXm5ubz8/Pv7+9hYWFjY2N5eXlvb29zc3Ps7Ozd3d2ysrKCgoKDg4P9/f2zs7P4+Pj///83Bdu/AAAAAXRSTlMAQObYZgAAAGlJREFUeNo9ylcbgWAAhuG3ZZQoEkkhDe099P3//9Xg6j56Dh6cjkm623IsnTNIDsqlEsN1HBVI5evdDMtN0FOQKt14						
.wojo.breadcrumb {
		vertical-align: middle;
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		margin: 0;
		padding: 1em;
		background-color: #EFF2F8;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
		border-top: 1px solid #F5F7FB;
		border-bottom: 1px solid #C8CFDC;
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05)
	}
	.wojo.breadcrumb:first-child {
		margin-top: 0;
		white-space: nowrap
	}
	.wojo.breadcrumb:last-child {
		margin-bottom: 0
	}
	.wojo.breadcrumb .divider {
		display: inline-block;
		opacity: 0.5;
		margin: 0 .25em;
		color: rgba(0, 0, 0, 0.3)
	}
	.wojo.breadcrumb .divider:before {
		content: "/";
		font-size: .85em;
		font-weight: 300
	}
	.wojo.breadcrumb a.section {
		cursor: pointer
	}
	.wojo.breadcrumb .section {
		display: inline-block;
		margin: 0;
		padding: 0
	}
	.wojo.breadcrumb.segment {
		display: inline-block;
		padding: .5em 1em
	}
	.wojo.breadcrumb .active.section {
		font-weight: 400
	}
	.wojo.small.breadcrumb {
		font-size: .75em
	}
	.wojo.large.breadcrumb {
		font-size: 1.1em
	}
	.wojo.huge.breadcrumb {
		font-size: 1.3em
	}
	.popover {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 60001;
		display: none;
		max-width: 276px;
		padding: 1px;
		text-align: left;
		white-space: normal;
		background-color: #272727;
		color: #FFFFFF;
		border-radius: 0.2em;
		font-size: .9rem;
		-webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
		box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
		background-clip: padding-box;
		-webkit-bg-clip: padding-box;
		-moz-bg-clip: padding
	}
	.popover.top {
		margin-top: -10px
	}
	.popover.right {
		margin-left: 10px
	}
	.popover.bottom {
		margin-top: 10px
	}
	.popover.left {
		margin-left: -10px
	}
	.popover-title {
		padding: .5em 1em;
		margin: 0;
		font-size: 1rem;
		font-weight: normal;
		line-height: 1;
		background-color: #f7f7f7;
		border-bottom: 1px solid #ebebeb;
		border-radius: 5px 5px 0 0
	}
	.popover-content {
		padding: .5em 1em
	}
	.popover .arrow,
	.popover .arrow:after {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid
	}
	.popover .arrow {
		border-width: 11px
	}
	.popover .arrow:after {
		border-width: 10px;
		content: ""
	}
	.popover.top .arrow {
		bottom: -11px;
		left: 50%;
		margin-left: -11px;
		border-top-color: #999999;
		border-top-color: rgba(0, 0, 0, 0.25);
		border-bottom-width: 0
	}
	.popover.top .arrow:after {
		bottom: 1px;
		margin-left: -10px;
		border-top-color: #272727;
		border-bottom-width: 0;
		content: " "
	}
	.popover.right .arrow {
		top: 50%;
		left: -11px;
		margin-top: -11px;
		border-right-color: #999999;
		border-right-color: rgba(0, 0, 0, 0.25);
		border-left-width: 0
	}
	.popover.right .arrow:after {
		bottom: -10px;
		left: 1px;
		border-right-color: #272727;
		border-left-width: 0;
		content: " "
	}
	.popover.bottom .arrow {
		top: -11px;
		left: 50%;
		margin-left: -11px;
		border-bottom-color: #999999;
		border-bottom-color: rgba(0, 0, 0, 0.25);
		border-top-width: 0
	}
	.popover.bottom .arrow:after {
		top: 1px;
		margin-left: -10px;
		border-bottom-color: #272727;
		border-top-width: 0;
		content: " "
	}
	.popover.left .arrow {
		top: 50%;
		right: -11px;
		margin-top: -11px;
		border-left-color: #999999;
		border-left-color: rgba(0, 0, 0, 0.25);
		border-right-width: 0
	}
	.popover.left .arrow:after {
		right: 1px;
		bottom: -10px;
		border-left-color: #272727;
		border-right-width: 0;
		content: " "
	}
	.charts_tooltip {
		background-color: #222;
		color: #FFF;
		box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.08);
		border: 1px solid rgba(0, 0, 0, 0.1);
		max-width: 250px;
		font-size: .875rem;
		font-weight: 400;
		font-style: normal;
		-webkit-border-radius: .2em;
		-moz-border-radius: .2em;
		border-radius: .2em;
		padding: .8em 1.2em
	}
	.wojo.form {
		position: relative;
		max-width: 100%
	}
	.wojo.form:first-child {}
	.wojo.form:last-child {}
	.wojo p.note,
	.wojo p.error,
	.wojo p.success,
	.wojo p.info {
		font-size: .85em;
		margin-top: .85em;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: .5em;
		color: rgba(0, 0, 0, 0.4)
	}
	.wojo p.error {
		color: #D87A80
	}
	.wojo p.success {
		color: #2EC7C9
	}
	.wojo p.info {
		color: #5AB1EF
	}
	.wojo.form .field {
		clear: both;
		margin: 0 0 1em;
		position: relative
	}
	.wojo.form .field:after {
		content: '';
		display: table;
		clear: both
	}
	.wojo.form .field label.input,
	.wojo.form .field label.textarea {
		position: relative;
		margin: 0
	}
	.wojo.form .field label {
		margin: 0 0 .9em;
		display: block;
		font-size: 1rem;
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		white-space: nowrap
	}
	.wojo.form .field label.radio,
	.wojo.form .field label.checkbox {
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		margin: 0
	}
	.wojo.form textarea,
	.wojo.form select,
	.wojo.form input[type=text],
	.wojo.form input[type=email],
	.wojo.form input[type=date],
	.wojo.form input[type=password],
	.wojo.form input[type=number],
	.wojo.form input[type=tel],
	.wojo.form .wojo.input {
		width: 100%;
		color: #333333;
	}
	.wojo.form textarea,
	.wojo.form input[type=text],
	.wojo.form input[type=email],
	.wojo.form input[type=date],
	.wojo.form input[type=password],
	.wojo.form input[type=number],
	.wojo.form input[type=tel],
	.wojo.form .fileinput > input {
		font-family: "Open Sans", sans-serif;
		margin: 0;
		padding: .85em 1.2em;
		font-size: 1em;
		background-color: #EFF2F8;
		border: 1px solid #DBE0EB;
		outline: none;
		border-radius: 0;
		-webkit-transition: background-color .3s ease-out, 0 .2s ease, border-color .2s ease;
		transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
		-webkit-appearance: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		line-height: 1.5;
	}
	.wojo.form .fileinput {
		display: table;
		width: 100%;
		color: rgba(0, 0, 0, 0.5);
		font-size: 1em
	}
	.wojo.form .fileinput > a {
		cursor: pointer;
		text-align: right;
		display: table-cell;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		white-space: nowrap;
		background-color: #EFF2F8;
		border: 1px solid #DBE0EB;
		border-left: 0;
		padding: .75em 1.2em;
		border-radius: 0;
		vertical-align: middle;
		cursor: pointer;
	}
	.wojo.form .fileinput > a label {
		margin: 0;
		cursor: pointer
	}
	.wojo.form .fileinput > input {
		display: table-cell;
		overflow: hidden;
		white-space: nowrap;
		border-right: 0;
		outline: none;
		border-radius: 0;
		width: 100%;
		vertical-align: middle;
		opacity: 1!important;
	}
	.wojo.form input[type=text].custom {
		border-radius: 0;
		margin-bottom: -2px;
	}
	.wojo.textarea,
	.wojo.form textarea {
		line-height: 1.33;
		min-height: 8em;
		font-family: 'Open Sans';
		font-weight: 400;
		height: 12em;
		max-height: 24em;
		resize: vertical
	}
	.wojo.form textarea[name="phrase"] {
		min-height: 2.5em;
		height: 4.5em;
		line-height: 1.5
	}
	.wojo.form textarea,
	.wojo.form input[type="checkbox"] {
		vertical-align: top
	}
	.chosen-container {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none
	}
	.chosen-container .chosen-drop {
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 1010;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		border: 1px solid #dbe0eb;
		border-top: 0;
		background: #eff2f8;
	}
	.chosen-container.chosen-with-drop .chosen-drop {
		left: 0
	}
	.chosen-container a {
		cursor: pointer
	}
	.chosen-container-single .chosen-single {
		position: relative;
		display: block;
		overflow: hidden;
		padding: .80em 1.2em;
		font-size: 1rem;
		border-radius: 0;
		background: #eff2f8;
		border: 1px solid #dbe0eb;
		color: rgba(0, 0, 0, 0.5);
		text-decoration: none;
		white-space: nowrap;
		line-height: 1.5;
	}
	.chosen-container-single .chosen-default {
		color: inherit
	}
	.chosen-container-single .chosen-single span {
		display: block;
		overflow: hidden;
		margin-right: 26px;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	.chosen-container-single .chosen-single-with-deselect span {
		margin-right: 38px
	}
	.chosen-container-single .chosen-single div {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 24px;
		height: 100%
	}
	.chosen-container-single .chosen-single div b:before {
		display: block;
		font-family: Icons;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 2.6em;
		content: "\f0d7";
		font-size: 1.2em;
		color: rgba(0, 0, 0, 0.15)
	}
	.chosen-container-single .chosen-search {
		position: relative;
		z-index: 1010;
		margin: 0;
		padding: 3px 4px;
		white-space: nowrap
	}
	.chosen-container-single .chosen-search input[type="text"] {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 1px 0;
		padding: 4px 20px 4px 5px;
		width: 100%;
		height: auto;
		outline: 0;
		border: 1px solid #cbcbcb;
		font-size: 1em;
		font-family: sans-serif;
		line-height: normal;
		border-radius: 0px
	}
	.chosen-container-single .chosen-search:before {
		position: absolute;
		display: inline-block;
		font-family: Icons;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 20px;
		content: "\f002";
		font-size: 14px;
		color: #a7a7a7;
		right: 10px;
		top: 6px
	}
	.chosen-container-single .chosen-drop {
		margin-top: -1px;
		border-radius: 0;
		background-clip: padding-box;
	}
	.chosen-container-single.chosen-container-single-nosearch .chosen-search {
		position: absolute;
		left: -9999px
	}
	.chosen-container .chosen-results {
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		margin: 0 4px 4px 0;
		padding: 0 0 0 4px;
		max-height: 240px;
		-webkit-overflow-scrolling: touch
	}
	.chosen-container .chosen-results li {
		display: none;
		margin: 0;
		padding: 5px 6px;
		list-style: none;
		line-height: 15px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05)
	}
	.chosen-container .chosen-results li.active-result {
		display: list-item;
		cursor: pointer
	}
	.chosen-container .chosen-results li.disabled-result {
		display: list-item;
		color: #ccc;
		cursor: default
	}
	.chosen-container .chosen-results li.highlighted {
		background-color: #15a5fb;
		color: #fff
	}
	.chosen-container .chosen-results li.no-results {
		display: list-item;
		background: #f4f4f4
	}
	.chosen-container .chosen-results li.group-result {
		display: list-item;
		font-weight: 700;
		cursor: default
	}
	.chosen-container .chosen-results li.group-option {
		padding-left: 15px
	}
	.chosen-container .chosen-results li em {
		font-style: normal;
		text-decoration: underline
	}
	.chosen-container-multi .chosen-choices {
		position: relative;
		overflow: hidden;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 100%;
		line-height: 1;
		padding: 0.42em 1.2em;
		font-size: .89rem;
		background-color: #EFF2F8;
		border: 1px solid #DBE0EB;
		outline: none;
		cursor: text;
		border-radius: 0px;
		color: rgba(0, 0, 0, 0.5);
		text-decoration: none;
		white-space: nowrap;
		line-height: 1;
	}
	.chosen-container-multi .chosen-choices li {
		float: left;
		list-style: none
	}
	.chosen-container-multi .chosen-choices li.search-field {
		margin: 0;
		padding: 0;
		white-space: nowrap
	}
	.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
		margin: 1px 0;
		padding: 5px;
		height: 30px;
		outline: 0;
		border: 0;
		background: transparent;
		box-shadow: none;
		color: #666;
		font-size: 100%;
		font-family: sans-serif;
		line-height: normal;
		border-radius: 0
	}
	.chosen-container-multi .chosen-choices li.search-field .default {
		color: #999
	}
	.chosen-container-multi .chosen-choices li.search-choice {
		position: relative;
		margin: 3px;
		padding: 0 25px 0 5px;
		line-height: 25px;
		cursor: default;
		background-color: #d6dbe7;
		border-radius: .2125em;
		font-size: .9em;
		font-weight: 900;
		text-shadow: 0 1px 0 #fff;
	}
	.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
		font-family: icons;
		content: "\f00d";
		position: absolute;
		top: 0;
		right: 3px;
		display: block;
		width: 12px;
		height: 12px;
		line-height: 24px
	}
	.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {}
	.chosen-container-multi .chosen-choices li.search-choice-disabled {
		padding-right: 5px;
		border: 1px solid #ccc;
		background-color: #e4e4e4;
		color: #666
	}
	.chosen-container-multi .chosen-choices li.search-choice-focus {
		background: #d4d4d4
	}
	.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
		background-position: -42px -10px
	}
	.chosen-container-multi .chosen-results {
		margin: 0;
		padding: 0
	}
	.chosen-container-multi .chosen-drop .result-selected {
		display: list-item;
		color: #ccc;
		cursor: default
	}
	.chosen-container-active.chosen-with-drop .chosen-single {
		-moz-border-radius-bottomright: 0;
		border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-left-radius: 0
	}
	.chosen-container-active.chosen-with-drop .chosen-single div {
		border-left: none;
		background: transparent
	}
	.chosen-container-active.chosen-with-drop .chosen-single div b {
		background-position: -18px 2px
	}
	.chosen-container-active .chosen-choices {
		border: 2px solid rgba(198, 198, 191, 1)
	}
	.chosen-container-active .chosen-choices li.search-field input[type="text"] {
		color: #111
	}
	.chosen-disabled {
		opacity: .5;
		cursor: default
	}
	.chosen-disabled .chosen-single {
		cursor: default
	}
	.chosen-disabled .chosen-choices .search-choice .search-choice-close {
		cursor: default
	}
	.radio,
	.checkbox {
		position: relative;
		display: block;
		margin-bottom: 4px;
		padding-left: 25px;
		line-height: 30px;
		cursor: pointer
	}
	.radio:last-child,
	.checkbox:last-child {
		margin-bottom: 0
	}
	.radio input,
	.checkbox input {
		position: absolute;
		left: -9999px
	}
	.radio i,
	.checkbox i {
		font-family: Icons;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		outline: none;
		font-style: normal;
		font-weight: 400
	}
	.radio input + i:after,
	.checkbox input + i:after {
		text-align: center;
		font-size: 24px;
		line-height: 30px;
		color: #DBE0EB
	}
	.radio input + i:after {
		content: '\f10c'
	}
	.checkbox input + i:after {
		content: '\f096'
	}
	.checkbox input:checked + i:after {
		content: '\f046';
		color: #15A5FB
	}
	.radio input:checked + i:after {
		content: '\f192';
		color: #15A5FB
	}
	.wojo [class^=icon-] {
		font-family: Icons;
		font-style: normal;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		margin: 0
	}
	.wojo .icon-append,
	.wojo .icon-prepend,
	.wojo .captcha-append {
		position: absolute;
		top: 0;
		line-height: 3.5em;
		text-align: center;
		color: rgba(0, 0, 0, 0.15)
	}
	.wojo .icon-append,
	.wojo .captcha-append {
		right: 1em
	}
	.wojo .icon-prepend {
		left: 1em
	}
	.wojo .captcha-append {
		top: .5em
	}
	.wojo .input .icon-append + input,
	.wojo .textarea .icon-append + textarea {
		padding-right: 2em
	}
	.wojo .input .icon-prepend + input,
	.wojo .textarea .icon-prepend + textarea,
	.wojo .input .icon-prepend + .icon-append + input,
	.wojo .textarea .icon-prepend + .icon-append + textarea {
		padding-left: 2.5em;
		padding-right: 2.5em
	}
	.wojo.form .divider {
		clear: both;
		margin: 1em 0;
		border-top: 1px solid #E8ECF2;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6)
	}
	.wojo.form .fitted.divider {
		margin-left: -1em;
		margin-right: -1em
	}
	.wojo.form input[type="text"]:focus,
	.wojo.form input[type="email"]:focus,
	.wojo.form input[type="date"]:focus,
	.wojo.form input[type="password"]:focus,
	.wojo.form input[type="number"]:focus,
	.wojo.form input[type="url"]:focus,
	.wojo.form input[type="tel"]:focus,
	.wojo.form textarea:focus {
		color: #717D9D;
		border-color: #ACB4C8;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		-webkit-appearance: none;
		-webkit-box-shadow: .3em 0 0 0 #ACB4C8 inset;
		box-shadow: .3em 0 0 0 #ACB4C8 inset
	}
	.wojo.form.warning .warning.message {
		display: block
	}
	.wojo.form.error .error.message {
		display: block
	}
	.wojo.form .fields.error .field label,
	.wojo.form .field.error label,
	.wojo.form .fields.error .field .input,
	.wojo.form .field.error .input {
		color: #D95C5C
	}
	.wojo.form .fields.error .field .corner.label,
	.wojo.form .field.error .corner.label {
		border-color: #D95C5C;
		color: #FFF
	}
	.wojo.form .fields.error .field textarea,
	.wojo.form .fields.error .field input[type="text"],
	.wojo.form .fields.error .field input[type="email"],
	.wojo.form .fields.error .field input[type="date"],
	.wojo.form .fields.error .field input[type="password"],
	.wojo.form .fields.error .field input[type="number"],
	.wojo.form .fields.error .field input[type="url"],
	.wojo.form .fields.error .field input[type="tel"],
	.wojo.form .field.error textarea,
	.wojo.form .field.error input[type="text"],
	.wojo.form .field.error input[type="email"],
	.wojo.form .field.error input[type="date"],
	.wojo.form .field.error input[type="password"],
	.wojo.form .field.error input[type="number"],
	.wojo.form .field.error input[type="url"],
	.wojo.form .field.error input[type="tel"] {
		background-color: #FFFAFA;
		border-color: #E7BEBE;
		border-left: none;
		color: #D95C5C;
		padding-left: 1.2em;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		-webkit-box-shadow: .3em 0 0 0 #D95C5C inset;
		box-shadow: .3em 0 0 0 #D95C5C inset
	}
	.wojo.form .field.error textarea:focus,
	.wojo.form .field.error input[type="text"]:focus,
	.wojo.form .field.error input[type="email"]:focus,
	.wojo.form .field.error input[type="date"]:focus,
	.wojo.form .field.error input[type="password"]:focus,
	.wojo.form .field.error input[type="number"]:focus,
	.wojo.form .field.error input[type="url"]:focus,
	.wojo.form .field.error input[type="tel"]:focus {
		border-color: #ff5050;
		color: #ff5050;
		-webkit-appearance: none;
		-webkit-box-shadow: .3em 0 0 0 #FF5050 inset;
		box-shadow: .3em 0 0 0 #FF5050 inset
	}
	.wojo.form textarea[name="phrase"]:focus,
	.wojo.form textarea[name="phrase"].active {
		background-color: #F5F5F5;
		border-color: #D0D0D0;
		border-radius: .3125em;
		-webkit-box-shadow: none;
		box-shadow: none
	}
	.wojo.form textarea[name="phrase"].active {
		background-color: #dceee5;
		border-color: #a9d5be
	}
	.wojo.form::-webkit-input-placeholder {
		color: #AAA
	}
	.wojo.form::-moz-placeholder {
		color: #AAA
	}
	.wojo.form:focus::-webkit-input-placeholder {
		color: #999
	}
	.wojo.form:focus::-moz-placeholder {
		color: #999
	}
	.wojo.form .error::-webkit-input-placeholder {
		color: rgba(255, 80, 80, 0.4)
	}
	.wojo.form .error::-moz-placeholder {
		color: rgba(255, 80, 80, 0.4)
	}
	.wojo.form .error:focus::-webkit-input-placeholder {
		color: rgba(255, 80, 80, 0.7)
	}
	.wojo.form .error:focus::-moz-placeholder {
		color: rgba(255, 80, 80, 0.7)
	}
	.wojo.form .field:disabled,
	.wojo.form .field.disabled {
		opacity: 0.5
	}
	.wojo.form .field.disabled label {
		opacity: 0.5
	}
	.wojo.form .field.disabled:disabled {
		opacity: 1
	}
	.wojo.form.loading {
		position: relative
	}
	.wojo.form.loading:after {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
		visibility: visible;
		z-index: 5000
	}
	.wojo.form.fluid {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box
	}
	.wojo.form .grouped.fields {
		margin: 0 0 1em
	}
	.wojo.form .grouped.fields .field {
		display: block;
		float: none;
		margin: .5em 0;
		padding: 0
	}
	.wojo.form .fields {
		clear: both
	}
	.wojo.form .fields:after {
		content: ' ';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0
	}
	.wojo.form .fields > .field.empty {
		margin: 0;
		font-size: .1em
	}
	.wojo.form .fields > .field {
		clear: none;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box
	}
	.wojo.form .fields > .field:first-child {
		border-left: none;
		-webkit-box-shadow: none;
		box-shadow: none
	}
	.wojo.form .two.fields > .fields,
	.wojo.form .two.fields > .field {
		width: 50%;
		padding-left: 1%;
		padding-right: 1%
	}
	.wojo.form .three.fields > .fields,
	.wojo.form .three.fields > .field {
		width: 33.333%;
		padding-left: 1%;
		padding-right: 1%
	}
	.wojo.form .four.fields > .fields,
	.wojo.form .four.fields > .field {
		width: 25%;
		padding-left: 1%;
		padding-right: 1%
	}
	.wojo.form .five.fields > .fields,
	.wojo.form .five.fields > .field {
		width: 20%;
		padding-left: 1%;
		padding-right: 1%
	}
	.wojo.form .fields .field:first-child {
		padding-left: 0
	}
	.wojo.form .fields .field:last-child {
		padding-right: 0
	}
	.wojo.form .inline-group:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		zoom: 1
	}
	.wojo.form .inline-group {
		margin-bottom: 1.2em
	}
	.wojo.form .inline-group label.radio,
	.wojo.form .inline-group label.checkbox,
	.wojo.form .inline-group label.input {
		float: left;
		margin-right: 20px
	}
	.wojo.form .inline.fields .field {
		min-height: 1.3em;
		margin-right: .5em
	}
	.wojo.form .inline.fields .field > label,
	.wojo.form .inline.fields .field > p,
	.wojo.form .inline.fields .field > input,
	.wojo.form .inline.field > label,
	.wojo.form .inline.field > p,
	.wojo.form .inline.field > input {
		display: inline-block;
		width: auto;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}
	.wojo.form .inline.fields .field > input,
	.wojo.form .inline.field > input {
		font-size: .875em
	}
	.wojo.form .inline.fields .field >:first-child,
	.wojo.form .inline.field >:first-child {
		margin: 0 .5em 0 0
	}
	.wojo.form .inline.fields .field >:only-child,
	.wojo.form .inline.field >:only-child {
		margin: 0
	}
	.wojo.small.form {}
	.wojo.small.form textarea,
	.wojo.small.form .chosen-container,
	.wojo.small.form input[type="text"],
	.wojo.small.form input[type="email"],
	.wojo.small.form input[type="date"],
	.wojo.small.form input[type="password"],
	.wojo.small.form input[type="number"],
	.wojo.small.form input[type="url"],
	.wojo.small.form input[type="tel"],
	.wojo.small.form label {
		font-size: .875em
	}
	.wojo.small.form .chosen-container-single .chosen-single {
		font-size: .85rem
	}
	.wojo.large.form {
		font-size: 1.125em
	}
	.wojo.form.fitted {
		padding: 0
	}
	.wojo.phrase {
		background-color: #eff2f8;
		padding: .5em;
		height: 4em;
		overflow-y: auto;
		vertical-align: middle;
		border: 1px solid #d8dde9;
		border-radius: 0;
		font-size: .95rem
	}
	.wojo.phrase.active {
		background-color: #FFFFCC
	}
	.colpick {
		position: absolute;
		width: 346px;
		height: 170px;
		overflow: hidden;
		display: none;
		font-family: Arial, Helvetica, sans-serif;
		background: #ebebeb;
		border: 1px solid #bbb;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none
	}
	.colpick_color {
		position: absolute;
		left: 7px;
		top: 7px;
		width: 156px;
		height: 156px;
		overflow: hidden;
		outline: 1px solid #aaa;
		cursor: crosshair
	}
	.colpick_color_overlay1 {
		position: absolute;
		left: 0;
		top: 0;
		width: 156px;
		height: 156px;
		filter: progid: DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ffffff', endColorstr='#00ffffff');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')";
		background: linear-gradient(toright, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
	}
	.colpick_color_overlay2 {
		position: absolute;
		left: 0;
		top: 0;
		width: 156px;
		height: 156px;
		filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00000000', endColorstr='#000000');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')";
		background: linear-gradient(tobottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
	}
	.colpick_selector_outer {
		background: none;
		position: absolute;
		width: 11px;
		height: 11px;
		border: 1px solid #000;
		border-radius: 50%;
		margin: -6px 0 0 -6px
	}
	.colpick_selector_inner {
		position: absolute;
		width: 9px;
		height: 9px;
		border: 1px solid #FFF;
		border-radius: 50%
	}
	.colpick_hue {
		position: absolute;
		top: 6px;
		left: 175px;
		width: 19px;
		height: 156px;
		border: 1px solid #aaa;
		cursor: n-resize
	}
	.colpick_hue_arrs {
		position: absolute;
		left: -8px;
		width: 35px;
		height: 7px;
		margin: -7px 0 0
	}
	.colpick_hue_larr {
		position: absolute;
		width: 0;
		height: 0;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 7px solid #858585
	}
	.colpick_hue_rarr {
		position: absolute;
		right: 0;
		width: 0;
		height: 0;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-right: 7px solid #858585
	}
	.colpick_new_color {
		position: absolute;
		left: 207px;
		top: 6px;
		width: 60px;
		height: 27px;
		background: red;
		border: 1px solid #8f8f8f
	}
	.colpick_current_color {
		position: absolute;
		left: 277px;
		top: 6px;
		width: 60px;
		height: 27px;
		background: red;
		border: 1px solid #8f8f8f
	}
	.colpick_field,
	.colpick_hex_field {
		position: absolute;
		height: 20px;
		width: 60px;
		overflow: hidden;
		background: #f3f3f3;
		color: #b8b8b8;
		font-size: 12px;
		border: 1px solid #bdbdbd;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px
	}
	.colpick_rgb_r {
		top: 40px;
		left: 207px
	}
	.colpick_rgb_g {
		top: 67px;
		left: 207px
	}
	.colpick_rgb_b {
		top: 94px;
		left: 207px
	}
	.colpick_hsb_h {
		top: 40px;
		left: 277px
	}
	.colpick_hsb_s {
		top: 67px;
		left: 277px
	}
	.colpick_hsb_b {
		top: 94px;
		left: 277px
	}
	.colpick_hex_field {
		width: 68px;
		left: 207px;
		top: 121px
	}
	.colpick_focus {
		border-color: #999
	}
	.colpick_field_letter {
		position: absolute;
		width: 12px;
		height: 20px;
		line-height: 20px;
		padding-left: 4px;
		background: #efefef;
		border-right: 1px solid #bdbdbd;
		font-weight: 700;
		color: #777
	}
	.colpick_field input,
	.colpick_hex_field input {
		position: absolute;
		right: 11px;
		height: 20px;
		line-height: 20px;
		background: transparent;
		border: none;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
		color: #555;
		text-align: right;
		outline: none;
		margin: 0;
		padding: 0
	}
	.colpick_hex_field input {
		right: 4px
	}
	.colpick_field_arrs {
		position: absolute;
		top: 0;
		right: 0;
		width: 9px;
		height: 21px;
		cursor: n-resize
	}
	.colpick_field_uarr {
		position: absolute;
		top: 5px;
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 4px solid #959595
	}
	.colpick_field_darr {
		position: absolute;
		bottom: 5px;
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #959595
	}
	.colpick_submit {
		position: absolute;
		left: 207px;
		top: 149px;
		width: 130px;
		height: 22px;
		line-height: 22px;
		background: #efefef;
		text-align: center;
		color: #555;
		font-size: 12px;
		font-weight: 700;
		border: 1px solid #bdbdbd;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px
	}
	.colpick_submit:hover {
		background: #f3f3f3;
		cursor: pointer;
		border-color: #999
	}
	.colpick_full_ns .colpick_new_color {
		width: 130px;
		height: 25px
	}
	.colpick_rgbhex {
		width: 282px
	}
	.colpick_rgbhex .colpick_field,
	.colpick_rgbhex .colpick_submit {
		width: 68px
	}
	.colpick_rgbhex .colpick_new_color {
		width: 34px;
		border-right: none
	}
	.colpick_rgbhex .colpick_current_color {
		width: 34px;
		left: 240px;
		border-left: none
	}
	.colpick_rgbhex_ns .colpick_new_color {
		width: 68px;
		border: 1px solid #8f8f8f
	}
	.colpick_hex {
		width: 206px;
		height: 201px
	}
	.colpick_hex .colpick_hex_field {
		width: 72px;
		height: 25px;
		top: 168px;
		left: 80px
	}
	.colpick_hex .colpick_hex_field div,
	.colpick_hex .colpick_hex_field input {
		height: 25px;
		line-height: 25px
	}
	.colpick_hex .colpick_new_color {
		left: 9px;
		top: 168px;
		width: 30px;
		border-right: none
	}
	.colpick_hex .colpick_current_color {
		left: 39px;
		top: 168px;
		width: 30px;
		border-left: none
	}
	.colpick_hex .colpick_submit {
		left: 164px;
		top: 168px;
		width: 30px;
		height: 25px;
		line-height: 25px
	}
	.colpick_hex_ns .colpick_hex_field {
		width: 80px
	}
	.colpick_hex_ns .colpick_new_color {
		width: 60px;
		border: 1px solid #8f8f8f
	}
	.colpick_dark {
		background: #161616;
		border-color: #2a2a2a
	}
	.colpick_dark .colpick_color {
		outline-color: #333
	}
	.colpick_dark .colpick_hue {
		border-color: #555
	}
	.colpick_dark .colpick_field,
	.colpick_dark .colpick_hex_field {
		background: #101010;
		border-color: #2d2d2d
	}
	.colpick_dark .colpick_field_letter {
		background: #131313;
		color: #696969;
		border-color: #2d2d2d
	}
	.colpick_dark .colpick_field input,
	.colpick_dark .colpick_hex_field input {
		color: #7a7a7a
	}
	.colpick_dark .colpick_field_uarr {
		border-bottom-color: #696969
	}
	.colpick_dark .colpick_field_darr {
		border-top-color: #696969
	}
	.colpick_dark .colpick_focus {
		border-color: #444
	}
	.colpick_dark .colpick_submit {
		background: #131313;
		color: #7a7a7a;
		border-color: #2d2d2d
	}
	.colpick_dark .colpick_submit:hover {
		background-color: #101010;
		border-color: #444
	}
	.cp-container {
		width: auto;
		position: relative;
		box-sizing: border-box
	}
	.cp-container .cp-transparency,
	.cp-container .cp-swatches li {
		background: url(data:image/gif;base64,R0lGODlhBgAGAIABAMPDw////yH5BAEKAAEALAAAAAAGAAYAAAIKhIMGGMrs0pGgAAA7) repeat
	}
	.cp-container .cp-slider,
	.cp-container .cp-preview {
		width: auto;
		height: 26px;
		border: 1px solid #dadada;
		position: relative;
		margin: 0 4px 5pt
	}
	.cp-container .cp-slider {
		cursor: ew-resize;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}
	.cp-container .cp-preview {
		height: 39px
	}
	.cp-container .cp-slider span,
	.cp-container .cp-preview input {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		font-family: sans-serif;
		line-height: 26px;
		font-size: 14px
	}
	.cp-container .cp-preview input {
		line-height: 39px;
		outline: none;
		box-shadow: none;
		border: none;
		border-radius: 0;
		background: none;
		padding: 0
	}
	.cp-container .cp-marker {
		position: absolute;
		display: block;
		width: 11px;
		height: 10px;
		margin-left: -5px;
		top: -2px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAMAAABVLlSxAAAAtFBMVEUAAAB1dXVsbGxwcHBqampoaGj+/v7r6+vw8PBmZmb6+vp/f39kZGTh4eGxsbHT09NlZWXX19dgYGBfX1/W1tb7+/vx8fHZ2dna2tqBgYFnZ2fg4ODe3t7j4+Pi4uL39/eampro6Ojl5eXy8vLt7e3p6emgoKCmpqatra1ra2v19fXm5ubz8/Pv7+9hYWFjY2N5eXlvb29zc3Ps7Ozd3d2ysrKCgoKDg4P9/f2zs7P4+Pj///83Bdu/AAAAAXRSTlMAQObYZgAAAGlJREFUeNo9ylcbgWAAhuG3ZZQoEkkhDe099P3//9Xg6j56Dh6cjkm623IsnTNIDsqlEsN1HBVI5evdDMtN0FOQKt14lWrArzLcnpZjvx9nshcA342jviO1hlHuTdlgVnzIt8VfNubiNwzmhAsoIAkssgAAAABJRU5ErkJggg==)
	}
	.cp-container.cp-unconvertible-cie-color .cp-slider.cp-cielightness .cp-marker,
	.cp-container.cp-unconvertible-cie-color .cp-slider.cp-ciechroma .cp-marker,
	.cp-container.cp-unconvertible-cie-color .cp-slider.cp-ciehue .cp-marker {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAMAAABVLlSxAAAAvVBMVEUAAADLy8u8vLzZ2dlgYGDe3t5sbGxoaGjr6+vb29tqamrCwsJmZmZkZGTW1tbExMTw8PDj4+Pa2tpfX1/z8/PU1NTp6enX19fg4OBwcHDc3NzJycn4+Pj7+/v6+vrd3d3h4eH+/v6lpaWmpqaampqgoKBlZWWzs7Orq6tra2uxsbGBgYF1dXVnZ2d/f3/T09PMzMxhYWFjY2P19fXv7+9vb2/l5eVzc3P////n5+eysrKDg4OCgoJ5eXnoAACu7h75AAAAAXRSTlMAQObYZgAAAG1JREFUeNo1ytsaQkAAReGdkpRKRUTofEANBoOY93+sfMp/tS4WNqM4mSvSdJztEJPFkETyJNUYEmMtzvhApfsQN89cCXxJ3WOD1yXfRlx3Cv8NPK+pZedFFaCVnQ+8rGp02Kl8fPDX3Nvs/YYvAnQLhiGwga0AAAAASUVORK5CYII=)
	}
	.cp-container.cp-popup {
		display: none;
		width: 370px;
		position: absolute;
		margin-top: 0;
		background-color: #fff;
		border: 1px solid #dadada;
		box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.47);
		z-index: 2147483647;
		padding: 10px 5px 5px
	}
	.cp-container .cp-swatches ul {
		width: auto;
		box-sizing: border-box;
		list-style-type: none;
		margin: 0;
		padding: 0
	}
	.cp-container .cp-swatches li {
		box-sizing: border-box;
		display: block;
		width: 23px;
		height: 23px;
		float: left;
		border: 1px solid #888;
		cursor: pointer;
		margin: 5px
	}
	.cp-container .cp-swatches li.actual {
		box-shadow: 0 0 3px 1px #fa8000;
		border-color: #000
	}
	.cp-container .cp-swatches li span {
		display: block;
		width: 100%;
		height: 100%
	}
	.cp-container .cp-swatches button {
		box-sizing: border-box;
		display: block;
		width: 23px;
		height: 23px;
		float: left;
		border: 1px solid #c9c9c9;
		border-radius: 5px;
		background-color: #eee;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: default;
		margin: 5px
	}
	.cp-container .cp-swatches button:enabled {
		cursor: pointer
	}
	.cp-container .cp-swatches button:active:enabled {
		-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
	}
	.cp-container .cp-swatches button.add {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACVBMVEUAAAAAAAAAAACDY+nAAAAAAnRSTlP7AIHb9U4AAAAkSURBVHjavc4hDgAADMLAwf8fPYKcJGEnqzowCqwTeATh53QBxJABcUm2nCEAAAAASUVORK5CYII=)
	}
	.cp-container .cp-swatches button.remove {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAApVBMVEUDAwMCAgICAgILCwsNDQ0REREGBgYHBwcICAgLCwsODg4JCQkLCwsgICAGBgYVFRUBAQEGBgYICAgkJCQJCQkFBQU+Pj4SEhICAgICAgIBAQECAgIREREFBQUICAgaGhoFBQUBAQEUFBQMDAwODg4WFhYTExMQEBAaGhoUFBRHR0chISEUFBQBAQEDAwNEREQKCgpAQEAHBwcFBQUFBQUAAAAAAAAxiR9QAAAANnRSTlP//f48aHCls7s0MHROCp1A+4WTBnqsAiDg3enbOqqBDMnzGlQyFBooDhwCCBjx0wJ4EmZOzgDzkDEIAAAAeklEQVR42o3L2RLBQBRF0VbGIIgYQgyJmCVBOOf/P81Fq+682Y+rait82kdbfNOQMN7sDhZgxXCepRZMxiTziwG4ucjybABpJrKwAG1yJEv1+avV5WAK9aCqNcl6gxV0GBzfcL2R90IAvdmpDP4aJZD+BGdI9j0DOg0vUhMssT3aBI8AAAAASUVORK5CYII=)
	}
	.cp-container .cp-swatches button.reset {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA2FBMVEUCAgIBAQEFBQUGBgYPDw8CAgIqKioKCgobGxsGBgYFBQUKCgoHBwcdHR0mJiZFRUUMDAwQEBADAwMaGhoMDAwDAwMEBAQDAwMFBQUODg4FBQUPDw8NDQ0DAwMaGhoPDw8FBQUFBQUmJiYNDQ0CAgIBAQEGBgYGBgYREREODg4SEhI7OzsODg4RERE/Pz8REREODg4DAwMFBQUzMzM3NzcFBQUNDQ0dHR0GBgYODg4BAQEZGRkGBgYEBAQQEBAVFRUEBAQNDQ0EBAQGBgYAAAACAgIBAQEAAAAT9YvKAAAARXRSTlP9/afbOOwMSg52g2yPDAwCRjDYGEjsqumPMqU2ZtYONKyuDkDk7pWTNkAyBkI0BjBS25MICJ1CGJk2+A6LuyoUs0isnQDapSJ+AAAAqUlEQVR42kXI11bCUBQA0SMoIEhTigWkKBbEgpgAKYSQczP//0feJUjmbbZUVbW56hrTdu7UJpWL2opDt/cWzkmh07paugn0fZUy0NO/1h5DlWvg5GEvA3iVBObfX7rviZ0UG2M99oKIFuoZLFIkzzKDNwtnuBlMMeKQZBCwlVNY//8GYtEc3s3hJ4QqWrqE5/efj88AHiML6o+ANAXCSC3YZjsDZhur7RdGhjsGc+eEZwAAAABJRU5ErkJggg==)
	}
	.cp-container button:disabled {
		opacity: 0.27
	}
	.colpick_full_ns .colpick_submit,
	.colpick_full_ns .colpick_current_color,
	.colpick_rgbhex .colpick_hsb_h,
	.colpick_rgbhex .colpick_hsb_s,
	.colpick_rgbhex .colpick_hsb_b,
	.colpick_rgbhex_ns .colpick_submit,
	.colpick_rgbhex_ns .colpick_current_color,
	.colpick_hex .colpick_hsb_h,
	.colpick_hex .colpick_hsb_s,
	.colpick_hex .colpick_hsb_b,
	.colpick_hex .colpick_rgb_r,
	.colpick_hex .colpick_rgb_g,
	.colpick_hex .colpick_rgb_b,
	.colpick_hex_ns .colpick_submit,
	.colpick_hex_ns .colpick_current_color {
		display: none
	}
	.colpick_full_ns .colpick_rgb_r,
	.colpick_full_ns .colpick_hsb_h,
	.colpick_rgbhex_ns .colpick_rgb_r {
		top: 42px
	}
	.colpick_full_ns .colpick_rgb_g,
	.colpick_full_ns .colpick_hsb_s,
	.colpick_rgbhex_ns .colpick_rgb_g {
		top: 73px
	}
	.colpick_full_ns .colpick_rgb_b,
	.colpick_full_ns .colpick_hsb_b,
	.colpick_rgbhex_ns .colpick_rgb_b {
		top: 104px
	}
	.colpick_full_ns .colpick_hex_field,
	.colpick_rgbhex_ns .colpick_hex_field {
		top: 135px
	}
	@media only screen and (min-width: 320px) and (max-width:768px) {
		.wojo.form .two.fields:not(.block) > .fields,
		.wojo.form .two.fields:not(.block) > .field,
		.wojo.form .two.fields.inline-block > .field:first-child,
		.wojo.form .two.fields.inline-block > .field:last-child,
		.wojo.form .three.fields:not(.block) > .fields,
		.wojo.form .three.fields:not(.block) > .field,
		.wojo.form .four.fields:not(.block) > .fields,
		.wojo.form .four.fields:not(.block) > .field,
		.wojo.form .five.fields:not(.block) > .fields,
		.wojo.form .six.fields:not(.block) > .field,
		.wojo.form .inline.fields:not(.block) > .field,
		.wojo.form .inline.fields:not(.block) > .field > label {
			float: none;
			width: 100%;
			diplay: block;
			padding-left: 0;
			padding-right: 0
		}
		.wojo.form .fields .field:first-child,
		.wojo.form .fields .field:last-child {
			padding-left: 0;
			padding-right: 0
		}
	}