.wojo.input {
	display: inline-block;
	position: relative;
	color: rgba(0, 0, 0, 0.7)
}
.wojo.input input {
	width: 100%;
	font-family: inherit;
	margin: 0;
	padding: .85em 1.2em;
	font-size: .85rem;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: .3125em;
	-webkit-transition: background-color .3s ease-out, 0 .2s ease, border-color .2s ease;
	transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}
.wojo.input.top.attached input {
	border-radius: .3125em .3125em 0 0
}
.wojo.input::-webkit-input-placeholder {
	color: #BBB
}
.wojo.input::-moz-placeholder {
	color: #BBB
}
.wojo.input input:active,
.wojo.input.down input {
	border-color: rgba(0, 0, 0, 0.3);
	background-color: #FAFAFA
}
.wojo.loading.input > .icon {
	background: url(../images/loader-mini.gif) no-repeat 50% 50%
}
.wojo.loading.input > .icon:before,
.wojo.loading.input > .icon:after {
	display: none
}
.wojo.input.focus input,
.wojo.input input:focus {
	border-color: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.85)
}
.wojo.input.focus input input::-webkit-input-placeholder,
.wojo.input input:focus input::-webkit-input-placeholder {
	color: #AAA
}
.wojo.input.focus input input::-moz-placeholder,
.wojo.input input:focus input::-moz-placeholder {
	color: #AAA
}
.wojo.input.error input {
	background-color: #FFFAFA;
	border-color: #E7BEBE;
	color: #D95C5C
}
.wojo.input.error input::-webkit-input-placeholder {
	color: rgba(255, 80, 80, 0.4)
}
.wojo.input.error input::-moz-placeholder {
	color: rgba(255, 80, 80, 0.4)
}
.wojo.input.error input:focus::-webkit-input-placeholder {
	color: rgba(255, 80, 80, 0.7)
}
.wojo.input.error input:focus::-moz-placeholder {
	color: rgba(255, 80, 80, 0.7)
}
.wojo.transparent.input input {
	border: none;
	background-color: transparent
}
.wojo.inverted.input input {
	background-color: #E9E9E1;
	border: 0;
	box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.15) inset
}
.wojo.icon.input > .icon {
	cursor: default;
	position: absolute;
	opacity: 0.5;
	top: 0;
	right: 0;
	margin: 0;
	width: 2.6em;
	height: 100%;
	padding-top: 1.1em;
	text-align: center;
	border-radius: 0 .3125em .3125em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out
}
.wojo.icon.input > .link.icon {
	cursor: pointer
}
.wojo.icon.input input {
	padding-right: 3em
}
.wojo.icon.input > .circular.icon {
	top: .35em;
	right: .5em
}
.wojo.left.icon.input > .icon {
	right: auto;
	left: 1px;
	border-radius: .3125em 0 0 .3125em
}
.wojo.left.icon.input > .circular.icon {
	right: auto;
	left: .5em
}
.wojo.left.icon.input > input {
	padding-left: 3em;
	padding-right: 1.2em
}
.wojo.icon.input > input:focus ~ .icon {
	opacity: 1
}
.wojo.labeled.input .corner.label {
	font-size: .7em;
	border-top-right-radius: .3125em
}
.wojo.labeled.input input {
	padding-right: 2.5em
}
.wojo.labeled.icon.input:not(.left) > input {
	padding-right: 3.25em
}
.wojo.labeled.icon.input:not(.left) > .icon {
	margin-right: 1.25em
}
.wojo.action.input {
	display: table
}
.wojo.action.input > input {
	display: table-cell;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none
}
.wojo.action.input > .button,
.wojo.action.input > .buttons {
	display: table-cell;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	white-space: nowrap;
	background-color: #8d98b3
}
.wojo.action.input > .button:hover,
.wojo.action.input > .buttons:hover {
	opacity: .75
}
.wojo.action.input > .button > .icon,
.wojo.action.input > .buttons > .button > .icon {
	display: inline;
	vertical-align: top
}
.wojo.fluid.action.input {
	display: table;
	width: 100%
}
.wojo.fluid.action.input > .button {
	width: .01%
}
.wojo.fluid.input {
	display: block
}
.wojo.small.form .icon.input > .icon {
	padding-top: .95em
}
.wojo.mini.input {
	font-size: .8125rem
}
.wojo.small.input {
	font-size: .875rem
}
.wojo.input {
	font-size: 1rem
}
.wojo.large.input {
	font-size: 1.125rem
}
.wojo.big.input {
	font-size: 1.25rem
}
.wojo.huge.input {
	font-size: 1.375rem
}
.wojo.massive.input {
	font-size: 1.5rem
}