.wojo.label {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	background-color: #F0F3FA;
	border-color: #F0F3FA;
	padding: .3em .5em;
	color: inherit;
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 400;
	border-radius: 0;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background .1s linear;
	transition: background .1s linear
}
.wojo.label:first-child {
	margin-left: 0
}
.wojo.label:last-child {
	margin-right: 0
}
a.wojo.label {
	cursor: pointer
}
.wojo.label a {
	cursor: pointer;
	color: inherit;
	opacity: 0.8;
	-webkit-transition: .2s opacity ease;
	transition: .2s opacity ease
}
.wojo.label a:hover {
	opacity: 1
}
.wojo.label .detail {
	display: inline-block;
	margin-left: .5em;
	font-weight: 700;
	opacity: 0.8
}
.wojo.label .icon {
	width: auto;
	font-size: 1em
}
.wojo.label .delete.icon {
	cursor: pointer;
	margin: 0 0 0 .5em;
	opacity: 0.7;
	-webkit-transition: background .1s linear;
	transition: background .1s linear
}
.wojo.label .delete.icon:hover {
	opacity: 0.99
}
.wojo.segment > .attached.label:first-child + * {
	margin-top: 2.5em
}
.wojo.segment > .bottom.attached.label:first-child ~:last-child {
	margin-top: 0;
	margin-bottom: 2.5em
}
.wojo.image.label {
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: .4em;
	padding-bottom: .4em;
	line-height: 1.5em;
	vertical-align: baseline;
	text-transform: none;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset
}
.wojo.image.label img {
	display: inline-block;
	height: 2.25em;
	margin: -.4em .8em -.4em -.8em;
	vertical-align: top;
	border-radius: .325em 0 0 .325em
}
.wojo.label.disabled {
	opacity: 0.5
}
a.wojo.labels .label:hover,
a.wojo.label:hover {
	background-color: #E4E4DA;
	border-color: #E4E4DA;
	color: rgba(0, 0, 0, 0.7)
}
.wojo.labels a.label:hover:before,
a.wojo.label:hover:before {
	background-color: #E4E4DA;
	color: rgba(0, 0, 0, 0.7)
}
.wojo.tag.labels .label,
.wojo.tag.label {
	margin-left: 1em;
	position: relative;
	padding: .33em 1.3em .33em 1.4em;
	border-radius: 0 3px 3px 0
}
.wojo.tag.labels .label:before,
.wojo.tag.label:before {
	position: absolute;
	top: .3em;
	left: .3em;
	content: '';
	margin-left: -1em;
	background-image: none;
	width: 1.5em;
	height: 1.5em;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: background .1s linear;
	transition: background .1s linear
}
.wojo.tag.labels .label:after,
.wojo.tag.label:after {
	position: absolute;
	content: '';
	top: 50%;
	left: -.25em;
	margin-top: -.3em;
	background-color: #FFF;
	width: .55em;
	height: .55em;
	-webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
	border-radius: 100px 100px 100px 100px
}
.wojo.ribbon.label {
	position: relative;
	margin: 0 .2em;
	left: -2rem;
	padding-left: 2rem;
	border-radius: 0 4px 4px 0;
	border-color: rgba(0, 0, 0, 0.15)
}
.wojo.ribbon.label:after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	border-top: 0 solid transparent;
	border-right-width: 1em;
	border-right-color: inherit;
	border-right-style: solid;
	border-bottom: 1em solid transparent;
	border-left: 0 solid transparent;
	width: 0;
	height: 0
}
.wojo.top.attached.label,
.wojo.attached.label {
	width: 100%;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	padding: .75em 1em;
	border-radius: .325em .325em 0 0
}
.wojo.bottom.attached.label {
	top: auto;
	bottom: 0;
	border-radius: 0 0 .325em .325em
}
.wojo.top.left.attached.label {
	width: auto;
	margin-top: 0;
	background: #15a5fb;
	color: #fff;
	font-weight: 600;
	border-radius: 2px 0px 0px 0px;
}
.wojo.top.right.attached.label {
	width: auto;
	left: auto;
	right: 0;
	background: #15a5fb;
	color: #fff;
	font-weight: 600;
	border-radius: 0px 2px 0px 0px;
}
.wojo.bottom.left.attached.label {
	width: auto;
	top: auto;
	bottom: 0;
	border-radius: 0 .325em 0 .325em
}
.wojo.bottom.right.attached.label {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	width: auto;
	border-radius: .325em 0 .325em 0
}
.wojo.bottom.right.attached.special.label {
	box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
	background-color: rgba(0, 0, 0, 0.15);
}
.wojo.corner.label {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	margin: 0;
	width: 2.5em;
	height: 2.5em;
	padding: 0;
	text-align: center;
	-webkit-transition: color .2s ease;
	transition: color .2s ease
}
.wojo.corner.label:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	z-index: -1;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-right: 2.5em solid transparent;
	border-bottom: 2.5em solid transparent;
	border-left: 0 solid transparent;
	border-right-color: inherit;
	-webkit-transition: border-color .2s ease;
	transition: border-color .2s ease
}
.wojo.corner.label .icon {
	font-size: .875em;
	margin: .5em 0 0 1.25em
}
.wojo.corner.label .text {
	display: inline-block;
	font-weight: 700;
	margin: .5em 0 0 1em;
	width: 2.5em;
	font-size: .875em;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}
.wojo.rounded.image > .wojo.corner.label,
.wojo.input > .wojo.corner.label,
.wojo.segment > .wojo.corner.label {
	overflow: hidden
}
.wojo.segment > .wojo.corner.label {
	top: 0;
	right: 0
}
.wojo.segment > .wojo.left.corner.label {
	right: auto;
	left: -1px
}
.wojo.input > .wojo.corner.label {
	top: 1px;
	right: 1px
}
.wojo.input > .wojo.right.corner.label {
	right: auto;
	left: 1px
}
.wojo.left.corner.label,
.wojo.left.corner.label:after {
	right: auto;
	left: 0
}
.wojo.left.corner.label:after {
	border-top: 3em solid transparent;
	border-right: 3em solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0 solid transparent;
	border-top-color: inherit
}
.wojo.left.corner.label .icon {
	margin: .5em 0 0 -1em
}
.wojo.left.corner.label .text {
	margin: .5em 0 0 -1em;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.wojo.corner.label:hover {
	background-color: transparent
}
.wojo.label.fluid,
.wojo.fluid.labels > .label {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}
.wojo.black.labels .label,
.wojo.black.label,
.wojo.inverted.labels .label,
.wojo.inverted.label,
.wojo.ribbon .ribbon.inverted,
.wojo.ribbon .ribbon.black {
	background-color: #364760;
	border-color: #364760;
	color: rgba(255, 255, 255, 0.80)
}
.wojo.labels .black.label:before,
.wojo.black.labels .label:before,
.wojo.black.label:before {
	background-color: #364760
}
a.wojo.black.labels .label:hover,
a.wojo.black.label:hover {
	background-color: #2A394F;
	border-color: #2A394F;
	color: rgba(255, 255, 255, 1)
}
.wojo.labels a.black.label:hover:before,
.wojo.black.labels a.label:hover:before,
a.wojo.black.label:hover:before {
	background-color: #2A394F
}
.wojo.black.corner.label,
.wojo.black.corner.label:hover {
	background-color: transparent
}
.wojo.black.ribbon.label {
	border-color: #2A394F
}
.wojo.positive.labels .label,
.wojo.positive.label,
.wojo.ribbon .ribbon.positive {
	background-color: #B2D280;
	border-color: #B2D280;
	color: rgba(255, 255, 255, 0.80)
}
.wojo.labels .positive.label:before,
.wojo.positive.labels .label:before,
.wojo.positive.label:before {
	background-color: #B2D280
}
a.wojo.positive.labels .label:hover,
a.wojo.positive.label:hover {
	background-color: #A6CB6E;
	border-color: #A6CB6E;
	color: rgba(255, 255, 255, 1)
}
.wojo.labels a.positive.label:hover:before,
.wojo.positive.labels a.label:hover:before,
a.wojo.positive.label:hover:before {
	background-color: #A6CB6E
}
.wojo.positive.corner.label,
.wojo.positive.corner.label:hover {
	background-color: transparent
}
.wojo.positive.ribbon.label {
	border-color: #A6CB6E
}
.wojo.negative.labels .label,
.wojo.negative.label,
.wojo.ribbon .ribbon.negative {
	background-color: #D87A80;
	border-color: #D87A80;
	color: rgba(255, 255, 255, 0.80)
}
.wojo.labels .negative.label:before,
.wojo.negative.labels .label:before,
.wojo.negative.label:before {
	background-color: #D87A80
}
.wojo.negative.corner.label,
.wojo.negative.corner.label:hover {
	background-color: transparent
}
a.wojo.negative.labels .label:hover,
a.wojo.negative.label:hover {
	background-color: #c54149;
	border-color: #c54149;
	color: rgba(255, 255, 255, 1)
}
.wojo.labels a.negative.label:hover:before,
.wojo.negative.labels a.label:hover:before,
a.wojo.negative.label:hover:before {
	background-color: #c54149
}
.wojo.negative.ribbon.label {
	border-color: #c54149
}
.wojo.info.labels .label,
.wojo.info.label,
.wojo.ribbon .ribbon.info {
	background-color: #5AB1EF;
	border-color: #5AB1EF;
	color: rgba(255, 255, 255, 0.80)
}
.wojo.labels .info.label:before,
.wojo.info.labels .label:before,
.wojo.info.label:before {
	background-color: #5AB1EF
}
a.wojo.info.labels .label:hover,
.wojo.info.labels a.label:hover,
a.wojo.info.label:hover {
	background-color: #198fe3;
	border-color: #198fe3;
	color: rgba(255, 255, 255, 1)
}
.wojo.labels a.info.label:hover:before,
.wojo.info.labels a.label:hover:before,
a.wojo.info.label:hover:before {
	background-color: #198fe3
}
.wojo.info.corner.label,
.wojo.info.corner.label:hover {
	background-color: transparent
}
.wojo.info.ribbon.label {
	border-color: #198fe3
}
.wojo.purple.labels .label,
.wojo.purple.label,
.wojo.ribbon .ribbon.purple {
	background-color: #8A3ECA;
	border-color: #8A3ECA;
	color: rgba(255, 255, 255, 0.80)
}
.wojo.labels .purple.label:before,
.wojo.purple.labels .label:before,
.wojo.purple.label:before {
	background-color: #8A3ECA
}
a.wojo.purple.labels .label:hover,
.wojo.purple.labels a.label:hover,
a.wojo.purple.label:hover {
	background-color: #7D34BA;
	border-color: #7D34BA;
	color: rgba(255, 255, 255, 1)
}
.wojo.labels a.purple.label:hover:before,
.wojo.purple.labels a.label:hover:before,
a.wojo.purple.label:hover:before {
	background-color: #7D34BA
}
.wojo.purple.corner.label,
.wojo.purple.corner.label:hover {
	background-color: transparent
}
.wojo.purple.ribbon.label {
	border-color: #7D34BA
}
.wojo.warning.labels .label,
.wojo.warning.label,
.wojo.ribbon .ribbon.warning {
	background-color: #F0B174;
	border-color: #F0B174;
	color: rgba(255, 255, 255, 0.80)
}
.wojo.labels .warning.label:before,
.wojo.warning.labels .label:before,
.wojo.warning.label:before {
	background-color: #F0B174
}
a.wojo.warning.labels .label:hover,
.wojo.warning.labels a.label:hover,
a.wojo.warning.label:hover {
	background-color: #EEA45D;
	border-color: #EEA45D;
	color: rgba(255, 255, 255, 1)
}
.wojo.labels a.warning.label:hover:before,
.wojo.warning.labels a.label:hover:before,
a.wojo.warning.label:hover:before {
	background-color: #EEA45D
}
.wojo.warning.corner.label,
.wojo.warning.corner.label:hover {
	background-color: transparent
}
.wojo.warning.ribbon.label {
	border-color: #EEA45D
}
.wojo.teal.labels .label,
.wojo.teal.label,
.wojo.ribbon .ribbon.teal {
	background-color: #3CC9CA;
	border-color: #3CC9CA;
	color: rgba(255, 255, 255, 0.80)
}
.wojo.labels .teal.label:before,
.wojo.teal.labels .label:before,
.wojo.teal.label:before {
	background-color: #3CC9CA
}
a.wojo.teal.labels .label:hover,
.wojo.teal.labels a.label:hover,
a.wojo.teal.label:hover {
	background-color: #2EA5A5;
	border-color: #2EA5A5;
	color: rgba(255, 255, 255, 1)
}
.wojo.labels a.teal.label:hover:before,
.wojo.teal.labels a.label:hover:before,
a.wojo.teal.label:hover:before {
	background-color: #2EA5A5
}
.wojo.teal.corner.label,
.wojo.teal.corner.label:hover {
	background-color: transparent
}
.wojo.teal.ribbon.label {
	border-color: #2EA5A5
}
.wojo.horizontal.labels .label,
.wojo.horizontal.label {
	margin: -.125em .5em -.125em 0;
	padding: .35em 1em;
	min-width: 6em;
	text-align: center
}
.wojo.circular.labels .label,
.wojo.circular.label {
	min-height: 1em;
	max-height: 2em;
	padding: .5em;
	line-height: 1em;
	text-align: center;
	border-radius: 500rem
}
.wojo.pointing.label {
	position: relative
}
.wojo.attached.pointing.label {
	position: absolute
}
.wojo.pointing.label:before {
	position: absolute;
	content: "";
	width: .6em;
	height: .6em;
	background-image: none;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 2;
	-webkit-transition: background .1s linear;
	transition: background .1s linear
}
.wojo.pointing.label:before {
	background-color: #f0f3fa
}
.wojo.pointing.label,
.wojo.pointing.above.label {
	margin-top: 1em
}
.wojo.pointing.label:before,
.wojo.pointing.above.label:before {
	margin-left: -.3em;
	top: -.3em;
	left: 50%
}
.wojo.pointing.below.label {
	margin-top: 0;
	margin-bottom: 1em
}
.wojo.pointing.below.label:before {
	margin-left: -.3em;
	top: auto;
	right: auto;
	bottom: -.3em;
	left: 50%
}
.wojo.pointing.left.label {
	margin-top: 0;
	margin-left: 1em
}
.wojo.pointing.left.label:before {
	margin-top: -.3em;
	bottom: auto;
	right: auto;
	top: 50%;
	left: 0
}
.wojo.pointing.right.label {
	margin-top: 0;
	margin-right: 1em
}
.wojo.pointing.right.label:before {
	margin-top: -.3em;
	right: -.3em;
	top: 50%;
	bottom: auto;
	left: auto
}
.wojo.floating.label {
	position: absolute;
	z-index: 100;
	top: -1em;
	left: 100%;
	margin: 0 0 0 -1.5em
}
.wojo.ribbon {
	height: 88px;
	overflow: hidden;
	position: absolute;
	right: -3px;
	top: -3px;
	width: 85px
}
.wojo.ribbon .ribbon:before {
	bottom: -1px;
	left: 0
}
.wojo.ribbon .ribbon:after {
	right: 0
}
.wojo.ribbon .ribbon:before,
.wojo.ribbon .ribbon:after {
	border-left: 2px solid rgba(0, 0, 0, 0);
	border-right: 2px solid rgba(0, 0, 0, 0);
	border-top: 2px solid #797979;
	bottom: -2px;
	content: "";
	position: absolute
}
.wojo.ribbon .ribbon {
	background-color: #797979;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	display: block;
	font-size: .95em;
	font-weight: 600;
	left: -5px;
	line-height: 20px;
	padding: 7px 0;
	position: relative;
	text-align: center;
	top: 15px;
	transform: rotate(45deg);
	width: 120px
}
.wojo.small.labels .label,
.wojo.small.label {
	font-size: .75rem;
	line-height: .75rem
}
.wojo.label {
	font-size: .95rem;
	line-height: 1rem
}
.wojo.large.labels .label,
.wojo.large.label {
	font-size: 1rem;
	line-height: 1rem
}
.wojo.huge.labels .label,
.wojo.huge.label {
	font-size: 1.1rem;
	line-height: 1.1rem
}
.wojo.top.right.attached.label.helper {
	border-radius: .325em;
	top: .5em;
	right: .5em
}
.wojo.top.right.attached.label.helper .icon {
	font-size: 1.4em;
	text-shadow: none;
	color: #fff
}