ul.wojo.list,
ol.wojo.list,
.wojo.list {
	list-style-type: none;
	margin: 1em 0;
	padding: 0
}
ul.wojo.list ul,
ol.wojo.list ol,
.wojo.list .list {
	margin: 0;
	padding: .5em 0 .5em 1em
}
ul.wojo.list:first-child,
ol.wojo.list:first-child,
.wojo.list:first-child {
	margin-top: 0
}
ul.wojo.list:last-child,
ol.wojo.list:last-child,
.wojo.list:last-child {
	margin-bottom: 0
}
ul.wojo.list li,
ol.wojo.list li,
.wojo.list .item {
	display: list-item;
	list-style-type: none;
	list-style-position: inside;
	padding: .3em 0;
	line-height: 1.2
}
.wojo.list .item:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.wojo.list .list {
	clear: both
}
.wojo.list .item > .icon {
	display: block;
	float: left;
	margin: 0 1em 0 0;
	padding: .1em 0 0
}
.wojo.list .item > .icon:only-child {
	display: inline-block
}
.wojo.horizontal.list .item > .icon {
	margin: 0;
	padding: 0 .25em 0 0
}
.wojo.horizontal.list .item > .icon,
.wojo.horizontal.list .item > .icon + .content {
	float: none;
	display: inline-block
}
.wojo.list .item > img {
	display: block;
	float: left;
	margin-right: 1em;
	vertical-align: middle
}
.wojo.list .item > .content {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2
}
.wojo.list .item > .icon + .content {
	display: table-cell;
	vertical-align: top
}
.wojo.list a {
	cursor: pointer
}
.wojo.list a .icon {
	color: rgba(0, 0, 0, 0.6);
	-webkit-transition: color .2s ease;
	transition: color .2s ease
}
.wojo.list .header {
	font-weight: 700
}
.wojo.list .description {
	color: rgba(0, 0, 0, 0.5)
}
.wojo.list .item > .left.floated {
	margin-right: 1em;
	float: left
}
.wojo.list .item > .right.floated {
	margin-left: 1em;
	float: right
}
.wojo.horizontal.list {
	display: inline-block;
	font-size: 0
}
.wojo.horizontal.list > .item {
	display: inline-block;
	margin-left: 1em;
	font-size: 1rem
}
.wojo.horizontal.list > .item:first-child {
	margin-left: 0
}
.wojo.horizontal.list .list {
	padding-left: 0;
	padding-bottom: 0
}
.wojo.list a:hover .icon {
	color: rgba(0, 0, 0, 0.8)
}
.wojo.link.list .item {
	color: rgba(0, 0, 0, 0.3)
}
.wojo.link.list a.item,
.wojo.link.list .item a {
	color: rgba(0, 0, 0, 0.5)
}
.wojo.link.list a.item:hover,
.wojo.link.list .item a:hover {
	color: rgba(0, 0, 0, 0.8)
}
.wojo.link.list a.item:active,
.wojo.link.list .item a:active {
	color: rgba(0, 0, 0, 0.8)
}
.wojo.link.list a.active.item,
.wojo.link.list .active.item a {
	color: rgba(0, 0, 0, 0.8)
}
.wojo.selection.list .item {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.4);
	padding: .5em;
	-webkit-transition: .2s color ease, .2s padding-left ease, .2s background-color ease;
	transition: .2s color ease, .2s padding-left ease, .2s background-color ease
}
.wojo.selection.list .item:hover {
	background-color: rgba(0, 0, 0, 0.02);
	color: rgba(0, 0, 0, 0.7)
}
.wojo.selection.list .item:active {
	background-color: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.7)
}
.wojo.selection.list .item.active,
.wojo.divided.list .item.active {
	background-color: rgba(0, 0, 0, 0.04);
	color: rgba(0, 0, 0, 0.7)
}
.wojo.animated.list .item {
	-webkit-transition: .2s color ease, .2s padding-left ease, .2s background-color ease;
	transition: .2s color ease, .2s padding-left ease, .2s background-color ease
}
.wojo.animated.list:not(.horizontal) .item:hover {
	padding-left: 1em
}
.wojo.animated.list:not(.horizontal) .item:hover .item:hover {
	padding-left: .5em
}
ul.wojo.list,
.wojo.bulleted.list {
	margin-left: 1.5em
}
ul.wojo.list li,
.wojo.bulleted.list .item {
	position: relative
}
ul.wojo.list li:before,
.wojo.bulleted.list .item:before {
	position: absolute;
	left: -1.5em;
	content: 'Ã¢â‚¬Â¢';
	line-height: 1.2rem;
	vertical-align: top
}
ul.wojo.list ul,
.wojo.bulleted.list .list {
	padding-left: 1.5em
}
ul.wojo.horizontal.bulleted.list,
.wojo.horizontal.bulleted.list {
	margin-left: 0
}
ul.wojo.horizontal.bulleted.list li,
.wojo.horizontal.bulleted.list .item {
	margin-left: 1.5em
}
ul.wojo.horizontal.bulleted.list li:before,
.wojo.horizontal.bulleted.list .item:before {
	left: -.9em
}
ul.wojo.horizontal.bulleted.list li:first-child,
.wojo.horizontal.bulleted.list .item:first-child {
	margin-left: 0
}
ul.wojo.horizontal.bulleted.list li:first-child::before,
.wojo.horizontal.bulleted.list .item:first-child::before {
	display: none
}
ol.wojo.list,
.wojo.ordered.list {
	counter-reset: ordered;
	margin-left: 2em;
	list-style-type: none
}
ol.wojo.list li,
.wojo.ordered.list .item {
	list-style-type: none;
	position: relative
}
ol.wojo.list li:before,
.wojo.ordered.list .item:before {
	position: absolute;
	left: -2em;
	counter-increment: ordered;
	content: counters(ordered, ".");
	text-align: right;
	vertical-align: top;
	opacity: 0.75
}
ol.wojo.list ol,
.wojo.ordered.list .list {
	counter-reset: ordered;
	padding-left: 2.5em
}
ol.wojo.list ol li:before,
.wojo.ordered.list .list .item:before {
	left: -2.5em
}
ol.wojo.horizontal.list,
.wojo.ordered.horizontal.list {
	margin-left: 0
}
ol.wojo.horizontal.list li:before,
.wojo.ordered.horizontal.list .item:before {
	position: static;
	margin: 0 .5em 0 0
}
.wojo.divided.list > .item,
.wojo.divided.list:not(.horizontal) > .list {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: .5em;
	padding-right: .5em
}
.wojo.divided.list .item .menu .item {
	border-width: 0
}
.wojo.divided.list .item:first-child {
	border-top-width: 0
}
.wojo.divided.list:not(.horizontal) .list {
	margin-left: -.5em;
	margin-right: -.5em
}
.wojo.divided.list:not(.horizontal) .list .item {
	padding-left: 1em;
	padding-right: 1em
}
.wojo.divided.list:not(.horizontal) .list .item:first-child {
	border-top-width: 1px
}
.wojo.divided.bulleted.list {
	margin-left: 0
}
.wojo.divided.bulleted.list .item {
	padding-left: 1.5em
}
.wojo.divided.bulleted.list .item:before {
	left: .5em
}
.wojo.divided.ordered.list {
	margin-left: 0
}
.wojo.divided.ordered.list > .item {
	padding-left: 2em;
	padding-right: 2em
}
.wojo.divided.ordered.list > .item:before {
	left: .5em
}
.wojo.divided.ordered.list .item .list {
	margin-left: -2em;
	margin-right: -2em
}
.wojo.divided.horizontal.list {
	margin-left: 0
}
.wojo.divided.horizontal.list > .item {
	border-top: none;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
	padding-left: .75em;
	padding-right: .75em;
	line-height: 0.6
}
.wojo.horizontal.divided.list > .item:first-child {
	border-left: none;
	padding-left: 0
}
.wojo.celled.list > .item,
.wojo.celled.list > .list {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: .5em;
	padding-right: .5em;
	background: #eff2f8;
}
.wojo.celled.list > .item:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.wojo.celled.list .item .list {
	margin-left: -.5em;
	margin-right: -.5em
}
.wojo.celled.list .item .list .item {
	border-width: 0
}
.wojo.celled.list .list .item:first-child {
	border-top-width: 0
}
.wojo.celled.bulleted.list {
	margin-left: 0
}
.wojo.celled.bulleted.list > .item {
	padding-left: 1.5em
}
.wojo.celled.bulleted.list > .item:before {
	left: .5em
}
.wojo.celled.ordered.list {
	margin-left: 0
}
.wojo.celled.ordered.list .item {
	padding-left: 2em;
	padding-right: 2em
}
.wojo.celled.ordered.list .item:before {
	left: .5em
}
.wojo.celled.ordered.list .item .list {
	margin-left: -2em;
	margin-right: -2em
}
.wojo.horizontal.celled.list {
	margin-left: 0
}
.wojo.horizontal.celled.list .item {
	border-top: none;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
	padding-left: .75em;
	padding-right: .75em;
	line-height: 0.6
}
.wojo.horizontal.celled.list .item:last-child {
	border-bottom: none;
	border-right: 1px solid rgba(0, 0, 0, 0.1)
}
.wojo.grid {
	position: relative;
	overflow: hidden;
	width: 100%
}
.wojo.grid > .item {
	background-color: #eff2f8;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d8dde9;
	padding: 0.5em
}
.wojo.grid > .item img {
	padding: 1px
}
.wojo.grid.fitted > .item {
	padding: 0
}
.wojo.grid > .item > .wojo.label {
	font-size: 1.4em
}
.wojo.relaxed.list:not(.horizontal) .item {
	padding-top: .5em;
	padding-bottom: .5em
}
.wojo.relaxed.list .header {
	margin-bottom: .25em
}
.wojo.horizontal.relaxed.list .item {
	padding-left: 1.25em;
	padding-right: 1.25em
}
.wojo.very.relaxed.list:not(.horizontal) .item {
	padding-top: 1em;
	padding-bottom: 1em
}
.wojo.very.relaxed.list .header {
	margin-bottom: .5em
}
.wojo.horizontal.very.relaxed.list .item {
	padding-left: 2em;
	padding-right: 2em
}
ul.wojo.sortable {
	min-height: 100px
}
ul.wojo.sortable,
ul.wojo.sortable li {
	list-style-type: none;
	margin: 0;
	padding: 0
}
ul.wojo.sortable li,
.wojo.sortable > .list {
	margin-bottom: 5px;
	padding: .5em 1em;
	list-style-type: none;
	color: rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 -.2rem 0 rgba(0, 0, 0, 0.1) inset;
	text-shadow: 0 1px 0 #fff;
	border-radius: .225em
}
ul.wojo.sortable li:before {
	content: "";
	left: 0
}
ul.wojo.sortable li:last-child,
.wojo.sortable list:last-child {
	margin-bottom: 0
}
ul.wojo.sortable li a {
	display: inline-block
}
.wojo.sortable a.list {
	display: block
}
.wojo.sortable a.list:hover {
	background-color: #F0B174;
	text-shadow: none;
	color: #fff
}
ul.wojo.sortable li .icon.reorder {
	opacity: .75;
	margin-right: .5em;
	cursor: move
}
.placeholder {
	background-color: #FFC!important;
	border: 1px solid #FC9
}
.wojo.item.grid .item {
	text-align: center;
	margin: .5em;
	padding: .5em;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}
.wojo.mini.list .item {
	font-size: .7rem
}
.wojo.tiny.list .item {
	font-size: .8125rem
}
.wojo.small.list .item {
	font-size: .875rem
}
.wojo.list .item {
	font-size: 1em
}
.wojo.large.list .item {
	font-size: 1.125rem
}
.wojo.big.list .item {
	font-size: 1.25rem
}
.wojo.huge.list .item {
	font-size: 1.375rem
}
.wojo.massive.list .item {
	font-size: 1.5rem
}
.filegrid {
	position: relative
}
.filegrid,
.filegrid li {
	margin: 0px;
	padding: 0px;
	list-style-type: none
}
.filegrid li a {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	line-height: 0;
	padding: .25em;
	margin: .25em;
	display: block
}
.filegrid.alt li {
	float: left;
	width: 146px;
	height: 121px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	margin: 2px
}
.filegrid.alt li a {
	box-shadow: none;
	padding: 0;
	margin: 0;
	line-height: 125px
}
.filegrid li a img {
	vertical-align: middle
}