html,
body {
  font-size: 14px;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #222;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  background: url("/uploads/IMG_fondo_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background: radial-gradient(circle, #e2d7d7, #ce8d8d, #960d0d);*/
  display: table;
  margin: 0 auto;
}
.container {
  width: 400px;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
header {
  font-size: 1.65em;
  font-weight: 300;
  padding: .5em;
  padding-top: 0;
  text-align: center;
}
.xform {
  display: block;
  margin: 0;
  padding: 0;
  padding: 1em;
  background-color: #f7f7f7;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.1);
  box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.1);
}
.row {
  background-color: #fff;
  padding: .5em;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
}
input[type=text],
input[type=password] {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: .65em 1em;
  font-size: 1em;
  background-color: #fff;
  color: #666;
  border: 0;
  outline: none;
  -webkit-transition: background-color .3s ease-out, 0 .2s ease, border-color .2s ease;
  transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  display: block;
  width: 100%;
  overflow: hidden;
}
input[type=password] {
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
}
input[type="text"]:focus,
input[type="password"]:focus {
  color: #000;
  -webkit-appearance: none;
}
input[type=submit] {
  border: 0;
  background-color: #51a351;
  color: #fff;
  display: block;
  width: 100%;
  padding: .65em 1em;
  font-size: 1.35em;
  font-weight: 300;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  -webkit-appearance: none;
  text-decoration: none
}
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #C70933;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 50px white inset;
}
footer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  display: block;
}
.wojo.error.message,
.wojo.success.message {
  position: relative;
  min-height: 18px;
  margin: 1em 0em;
  height: auto;
  padding: 1em;
  line-height: 1.33;
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.325em 0.325em 0.325em 0.325em;
  -webkit-box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
  background-color: #BD362F;
  color: #FFFFFF;
  opacity: 0.8;
}
.wojo.success.message {
  background-color: #51A351;
  color: #FFFFFF;
  opacity: 0.8;
}
.wojo.message .header {
  margin: 0em;
  font-size: 1em;
  font-weight: bold;
}
.wojo.message ul.list {
  opacity: 0.85;
  list-style-position: inside;
  margin: 0.2em 0em;
  padding: 0em;
}
.wojo.message ul.list li {
  position: relative;
  list-style-type: none;
  margin: 0em 0em 0.3em 1em;
  padding: 0em;
}
