html,body {
    font-size: 14px
}

body {
    font-family: "Open Sans", ​"Helvetica Neue", ​Helvetica, ​Arial, ​sans-serif, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #364760;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-position: 0% 0%;
    background-size: cover;
}

a {
    cursor: pointer;
    color: #5AB1EF;
    text-decoration: none;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    outline: none
}

a:hover,a.hover,a:focus {
    color: #F5994E;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -o-transition: all .35s ease;
    transition: all .55s ease;
    outline: none;
    text-decoration: none
}

h1,h2.h3.h4,h5,h6 {
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 300
}

.wojo-content {
    padding: 1em
}

.tablebox {
    overflow: hidden;
    background-color: #364760;
    border-radius: 0;
    padding-top: 0;
    padding-right: 250px;
    padding-bottom: 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
}

.tablebox:after {
    clear: both;
    content: "";
    display: table
}

#leftpanel,#rightpanel {
    margin-bottom: -99999px;
    padding-bottom: 99999px
}

#leftpanel {
    float: left;
    width: 250px;
    background-color: #364760;
    border-radius: .325em 0 0 .325em;
}

#rightpanel {
    float: right;
    margin-right: -250px;
    width: 100%;
    border-radius: 0 .425em .325em 0;
    background-color: #D6DBE7;
}

header {
    background-color: #364760;
    border-radius: 0 .325em 0 0;
    padding: 0;
    position: relative;
    vertical-align: middle
}

.logo {
    font-size: 2em;
    font-weight: 100;
    display: inline-block
}

.id-handle .icon.reorder {
    cursor: move
}

nav {
    margin-top: 0;
}

nav ul,nav li {
    margin: 0px;
    padding: 0px;
    list-style-type: none
}

nav li a {
    display: block;
    color: #F1F5F7;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Open Sans", arial, sans-serif
}

nav li a i.icon {
    color: #6383AA;
    margin-right: 1em
}

nav li ul,nav li.active {
    background-color: #2A394F
}

nav li ul a {
    padding: .6em 2em;
    text-transform: none;
    text-shadow: none
}

nav li.parent {
    border-bottom: 1px solid #2A394F
}

nav li.active {
    box-shadow: inset 4px 0 0 0 #F5994E;
}

nav ul.sublist li:not(.active) {
    box-shadow: 0 1px 0 0 rgba(54,71,96,0.9);
}

nav ul.sublist li:last-child:not(.active) {
    box-shadow: none
}

#suggestions {
    position: absolute;
    width: 100%;
    z-index: 100
}

ul.sortMenu,.widgetlist {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul.sortMenu ul {
    margin-left: 1.5em
}

#menusort li {
    margin: 5px 0 0;
    padding: 0;
    list-style-type: none;
    color: rgba(0,0,0,0.4)
}

#menusort li a.delete {
    float: right;
    color: #BF5A68
}

#menusort li .icon.reorder {
    margin-right: 1em;
    cursor: move;
    float: left;
    vertical-align: middle;
    line-height: 1em;
    color: #fff
}

#menusort li a .parent{

}

#menusort li div {
    margin-bottom: 5px;
    background-color: #364760;
    border-image: none;
    border-radius: .225em;
    box-shadow: inset 0 -2px 0 0 rgba(255,255,255,0.5);
    padding: .8em 1em .75em 0.9em;
}

.scrollbox {
    border: 1px solid #dbe0eb;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0;
}

.scrollbox .active {
    background: #F1F5F7
}

.scrollbox.borderless {
    border: 0;
    border-radius: none
}

.scrollbox.padded {
    padding: .5em
}

.scrollbox.custom {
    border-radius: 0;
}

footer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #fff
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 769px) {
    nav li a span {
        display:none
    }

    nav li a i.icon:not(.triangle) {
        margin-right: 0;
        font-size: 2em
    }

    nav li a i.icon.down {
        margin: 0
    }

    nav li a {
        text-align: center
    }

    .tablebox {
        padding-right: 60px;
        margin-top: 0
    }

    #leftpanel {
        width: 60px
    }

    #rightpanel {
        margin-right: -60px
    }
}

.icon-menu{
	background: #1e252f;
	background-color: #1e252f!important;
    width: 30px;
    height: 30px!important;
    line-height: 28px!important;
    text-align: center;
    padding: 0!important;
    border-radius: 2px!important;
}

.icon-menu1 {
    background: #1e252f;
    background-color: #1e252f!important;
    width: 70px;
    height: 30px!important;
    line-height: 28px!important;
    text-align: center;
    padding: 0!important;
    border-radius: 2px!important;
}



.icon-menu i{
	color: #ffffff!important;
    font-size: 18px;
}

.icon-menu1 i{
	color: #ffffff!important;
    font-size: 18px;
}

.icon-menu:hover{
	background: #f5994e;
	background-color: #f5994e!important;
}

.icon-menu1:hover{
	background: #f5994e;
	background-color: #f5994e!important;
	border-radius: 2px 2px 0px 0px!important;
}

.sec-menu{
	line-height: 64px;
	float: right;
}

.icon-menu1 .inverted{
	background: #f5994e!important;
	border-radius: 0px 0px 2px 2px!important;
}

.icon-menu1 .inverted a{
	line-height: 16px!important;
}

#chart{
	margin: 6px;
}

.wojo.count.label{
    background-color: #15a5fb;
    border-color: #42abea;
    color: #fff;
    border-radius: 2px;
}

.wojo.pending.label{
    background-color: #f5994e;
    border-color: #f1b07b;
    color: #fff;
    text-transform: capitalize;
    border-radius: 2px;
    padding: 6px 10px 7px 10px;
}

.wojo.approved.label{
    background-color: #699e15;
    border-color: #8cce25;
    color: #fff;
    text-transform: capitalize;
    border-radius: 2px;
	padding: 6px 10px 7px 10px;
}

.wojo.declined.label{
    background-color: #fb3a46;
    border-color: #f36069;
    color: #fff;
    text-transform: capitalize;
    border-radius: 2px;
	padding: 6px 10px 7px 10px;
}

.wojo.notfeatured.label{
    background-color: #999;
    border-color: #999;
    color: #fff;
    text-transform: capitalize;
    border-radius: 2px;
	padding: 6px 10px 7px 10px;
}

.wojo.featured.label{
    background-color: #ffd700	;
    border-color: #ffd700;
    color: #fff;
    text-transform: capitalize;
    border-radius: 2px;
	padding: 6px 10px 7px 10px;
}

.full-time{
	background-color: #f1630d;
    padding: 4px 6px;
    position: relative;
    font-size: 13px;
    color: #fff;
    border-radius: 2px;
	font-weight: normal;
}

.wojo.basic.table td:first-child, .wojo.basic.table th:first-child {
    padding-left: 1.2em;
}

.sticky-note{
    color: #f7f7f7;
}
